<script type="text/babel">
    export default {
        data() {
            return {
                postData: {
                    username: null,
                    phone: null,
                    email: null
                }
            }
        },

    };
</script>

<style>
</style>

<template>
    <div id="passwordReset" class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="text-center pt100 mb30">
                <router-link to="/"><img src="../../../../assets/images/logo.png"></router-link>
            </div>
            <div class="page clearfix mb30">
                <form class="form-horizontal form-validation">
                    <div class="text-danger text-center">
                    </div>
                    <div class="list-group">
                        <div class="list-group-item p0">
                            <input class="form-control input-lg b0 br0" type="text" placeholder="请输入您已注册的用户名" v-model="postData.username" required>
                        </div>
                        <div class="list-group-item p0">
                            <input class="form-control input-lg b0 br0" type="email" placeholder="请输入您已注册的邮箱" v-model="postData.email" required>
                        </div>
                    </div>
                    <button type="button" class="btn btn-lg btn-primary btn-block mb20" @click="login(postData)">重置密码</button>
                    <router-link to="login" class="btn btn-lg btn-default btn-block">登 录</router-link>
                </form>
            </div>
        </div>
    </div>
</template>