<script type="text/babel">
    export default {
        data() {
            return {
                postData: {
                    username: null,
                    password: null,
                    confirmPassword: null,
                    email: null
                }
            }
        }
    };
</script>

<style>
</style>

<template>
    <div id="login" class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="text-center pt100 mb30">
                <router-link to="/"><img src="../../../../assets/images/logo.png"></router-link>
            </div>
            <div class="page clearfix mb30">
                <form class="form-horizontal form-validation">
                    <div class="text-danger text-center">
                    </div>
                    <div class="list-group">
                        <div class="list-group-item p0">
                            <input class="form-control input-lg b0 br0" type="text" placeholder="请输入用户名/已验证手机" v-model="postData.username" required>
                        </div>
                        <div class="list-group-item p0">
                            <input class="form-control input-lg b0 br0" type="password" placeholder="请输入密码" v-model="postData.password" required>
                        </div>
                    </div>
                    <button type="button" class="btn btn-lg btn-primary btn-block mb20" @click="register(postData)">注 册</button>
                    <div class="text-center"><router-link to="password-reset">忘记密码?</router-link></div>
                    <p class="text-center">
                        <small>已有账号?</small>
                    </p>
                    <router-link to="login" class="btn btn-lg btn-default btn-block">登 录</router-link>
                </form>
            </div>
        </div>
    </div>
</template>