<template>
  <div class="mt100">
    <h3 class="text-center"><router-link to="/"><img src="../../../../assets/images/logo.png"></router-link></h3>
    <p class="text-center">
      <template v-if="user.id">
        {{user.user_name}}
        <br>
        <img :src="user.avatar">
      </template>
      <template v-else="">
        <router-link to="login">登录</router-link>
        <router-link to="register">注册</router-link>
      </template>
    </p>
  </div>
</template>

<script type="text/babel">
  import { mapState, mapActions } from 'vuex';
  export default {
    created () {
        this.loadUser();
    },
    computed: mapState([
      'name',
      'user'
    ]),
    methods: mapActions([
        'loadUser'
    ])
  };
</script>
