/*网页样式重置reset*/
html { font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;}
body { font-size:0.75em;}
label { cursor:pointer}
a:link, a:visited { text-decoration:none}
input,button,select,textarea{outline:none} textarea{resize:none;}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, var { margin:0; padding:0}

article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block} /*html5设置*/

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif}
em, cite, address, optgroup { font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table {	width:100%; border-spacing:0; border:0}
table th, table td { border:0}
legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}
/*input,*/ select, textarea{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-appearance:button;-moz-appearance:button;-o-appearance:button;-ms-appearance:button;border-radius:0px;}
.ndis{display:none;}
.bdis{display:block;}
/*全局清除浮动样式*/
.fix{display:inline-block;}
.fix{display:block;}
.fix:after{content:"";display:block;height:0px; clear:both;visibility:hidden;}
/*------------------------------------------------------------------------------------------------------------------------------*/
/*动画效果*/
@-webkit-keyframes opacity{
	0%   {opacity:0;}
      100%  {opacity:0;}
}
@keyframes opacity{
      0%{opacity:0;}
      100%  {opacity:0;}
}
@-webkit-keyframes opacity1{
	0%   {opacity:1;}
	100%  {opacity:0;}
}
@-webkit-keyframes rotate1{
	0%{
    -webkit-transform:rotate(0deg); 
  }
  50%{
    -webkit-transform:rotate(180deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
  }
}
@keyframes rotate1{
  0%{
    transform:rotate(0deg); 
  }
  50%{
    transform:rotate(180deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
@-webkit-keyframes bounce{
  0%{-webkit-transform:translateX(0px);}
  100%{-webkit-transform:translateX(10px);}
}
@-webkit-keyframes bounce2{
  0%{-webkit-transform:translateX(0px);}
  100%{-webkit-transform:translateX(-10px);}
}
/*-webkit-animation:opacity 2s linear forwards;*/
/*统一样式*/
html,
body{margin:0 auto;width:640px;height:100%;overflow:hidden;position:relative;font-family:"微软雅黑"; color:#FFF}
/*动画*/
.l-index-c,.l-start-btn{opacity:0;-webkit-transition:all 2s linear 1s;transition:all 2s linear 1s;}
.l-animation .l-index-c,.l-animation .l-start-btn{opacity:1;}
.l-wrap-qus,.l-wrap-index{-webkit-transition:all 0.6s ease;transition:all 0.6s ease;}
.l-res-logo,.l-res-con,.l-res-btn{opacity:0;-webkit-transition:opacity 1s ease;}
.l-anim-show .l-res-logo,.l-anim-show .l-res-con,.l-anim-show .l-res-btn{opacity:1;}
.l-anim-show.l-wrap-res{z-index:50;}
.l-anim-show.l-intro-sec{z-index:100;opacity:1;}
/*load页面 首页*/
.l-wrap{width:100%;height:100%;position:absolute;left:0;top:0;}
.l-wrap-load{z-index:5;opacity:0;-webkit-transition:all 2s linear;transition:all 2s linear;}
.l-load-show{z-index:11;opacity:1;}
.l-load-box{width:100%;height:135px;position:absolute;left:0;top:50%;margin-top:-125px;}
.l-load-img{width:60px;height:60px;background:url(../images/wdy/load.gif) no-repeat 0 0;margin:0 auto;}
.l-load-txt{width:184px;height:43px;margin:32px auto 0; color:#FFF; font-size:24px;}
.l-wrap-index{z-index:10;}
.l-index-c{min-height:435px;padding-top:50px; color:#FFF;}
.l-index-c h1{ font-size:5em; text-align:center; padding-bottom:15px;}
.l-index-c p{ font-size:3em; text-indent:2em; width:90%; margin:0 auto;}
.l-btn{display:block;}
.l-start-btn{width:277px;height:239px;margin:20px auto 0;background:url(../images/wdy/start.png) no-repeat 0 0;}
/*问题页*/
.l-wrap-qus{width:100%;height:100%;position:absolute;left:0;top:0;z-index:15;-webkit-transform:translateY(100%);transform:translateY(100%);}
.l-ani-up{-webkit-transform:translateY(0);transform:translateY(0);}
.l-qus-box{margin-left:53px; font-size:3em;}
.l-qus-pet{height:158px;}
.l-qus-ans{margin-top:19px;}
.l-qus-ans > div{padding:22px 0 23px;}
.l-qus-ans-sel{float:left;width:29px;height:29px;}
.l-qus-ans-txt{float:left;height:26px;margin-left:36px;}
.l-error{height:24px;margin-top:7px;background:url(../images/wdy/error.png) no-repeat 50% 0;opacity:0;}
/*.l-error-show{opacity:1;-webkit-animation:opacity 0s linear 2s forwards;}*/
.l-qus-next{width:188px;height:83px;margin:0 auto;background:url(../images/wdy/next.png) no-repeat 50%;}
.l-qus-tj{width:188px;height:51px;margin:0 auto;background:url(../images/wdy/submit.png) no-repeat 0 0;}
/*问题层级*/
.l-wrap-qus1{z-index:15;}
.l-wrap-qus2{z-index:20;}
.l-wrap-qus3{z-index:25;}
.l-wrap-qus4{z-index:30;}
.l-wrap-qus5{z-index:35;}
.l-wrap-qus6{z-index:40;}
.l-wrap-qus7{z-index:45;}
/*问题图标*/
.l-qus1-pet{background:url(../images/wdy/qus1-pet.png) no-repeat 50%;}
.l-qus2-pet{background:url(../images/wdy/qus2-pet.png) no-repeat 50%;}
.l-qus3-pet{background:url(../images/wdy/qus3-pet.png) no-repeat 50%;}
.l-qus4-pet{background:url(../images/wdy/qus4-pet.png) no-repeat 50%;}
.l-qus5-pet{background:url(../images/wdy/qus5-pet.png) no-repeat 50%;}
.l-qus6-pet{background:url(../images/wdy/qus1-pet.png) no-repeat 50%;}
.l-qus7-pet{background:url(../images/wdy/qus2-pet.png) no-repeat 50%;}
/*问题标题*/
.l-qus1-tit{height:72px;margin-top:28px;background:url(../images/wdy/qus1-tit.png) no-repeat 0 0;}
.l-qus2-tit{height:72px;margin-top:28px;background:url(../images/wdy/qus2-tit.png) no-repeat 0 0;}
.l-qus3-tit{height:72px;margin-top:28px;background:url(../images/wdy/qus3-tit.png) no-repeat 0 0;}
.l-qus4-tit{height:114px;margin-top:28px;background:url(../images/wdy/qus4-tit.png) no-repeat 0 0;}
.l-qus5-tit{height:73px;margin-top:28px;background:url(../images/wdy/qus5-tit.png) no-repeat 0 0;}
.l-qus6-tit{height:75px;margin-top:28px;background:url(../images/wdy/qus6-tit.png) no-repeat 0 0;}
.l-qus7-tit{height:114px;margin-top:28px;background:url(../images/wdy/qus7-tit.png) no-repeat 0 0;}
/*问题选项*/
.l-qus1-ans-a .l-qus-ans-txt{width:132px;background:url(../images/wdy/qus1-a.png) no-repeat 0 0;}
.l-qus1-ans-b .l-qus-ans-txt{width:118px;background:url(../images/wdy/qus1-b.png) no-repeat 0 0;}
.l-qus1-ans-c .l-qus-ans-txt{width:127px;background:url(../images/wdy/qus1-c.png) no-repeat 0 0;}
.l-qus1-ans-d .l-qus-ans-txt{width:155px;background:url(../images/wdy/qus1-d.png) no-repeat 0 0;}

.l-qus2-ans-a .l-qus-ans-txt{width:117px;background:url(../images/wdy/qus2-a.png) no-repeat 0 0;}
.l-qus2-ans-b .l-qus-ans-txt{width:174px;background:url(../images/wdy/qus2-b.png) no-repeat 0 0;}
.l-qus2-ans-c .l-qus-ans-txt{width:172px;background:url(../images/wdy/qus2-c.png) no-repeat 0 0;}
.l-qus2-ans-d .l-qus-ans-txt{width:115px;background:url(../images/wdy/qus2-d.png) no-repeat 0 0;}

.l-qus3-ans-a .l-qus-ans-txt{width:208px;background:url(../images/wdy/qus3-a.png) no-repeat 0 0;}
.l-qus3-ans-b .l-qus-ans-txt{width:265px;background:url(../images/wdy/qus3-b.png) no-repeat 0 0;}
.l-qus3-ans-c .l-qus-ans-txt{width:203px;background:url(../images/wdy/qus3-c.png) no-repeat 0 0;}
.l-qus3-ans-d .l-qus-ans-txt{width:294px;background:url(../images/wdy/qus3-d.png) no-repeat 0 0;}

.l-qus4-ans-a .l-qus-ans-txt{width:146px;background:url(../images/wdy/qus4-a.png) no-repeat 0 0;}
.l-qus4-ans-b .l-qus-ans-txt{width:114px;background:url(../images/wdy/qus4-b.png) no-repeat 0 0;}
.l-qus4-ans-c .l-qus-ans-txt{width:112px;background:url(../images/wdy/qus4-c.png) no-repeat 0 0;}

.l-qus5-ans-a .l-qus-ans-txt{width:328px;background:url(../images/wdy/qus5-a.png) no-repeat 0 0;}
.l-qus5-ans-b .l-qus-ans-txt{width:265px;background:url(../images/wdy/qus5-b.png) no-repeat 0 0;}
.l-qus5-ans-c .l-qus-ans-txt{width:383px;background:url(../images/wdy/qus5-c.png) no-repeat 0 0;}

.l-qus6-ans-a .l-qus-ans-txt{width:117px;background:url(../images/wdy/qus6-a.png) no-repeat 0 0;}
.l-qus6-ans-b .l-qus-ans-txt{width:114px;background:url(../images/wdy/qus6-b.png) no-repeat 0 0;}
.l-qus6-ans-c .l-qus-ans-txt{width:114px;background:url(../images/wdy/qus6-c.png) no-repeat 0 0;}
.l-qus6-ans-d .l-qus-ans-txt{width:114px;background:url(../images/wdy/qus6-d.png) no-repeat 0 0;}

.l-qus7-ans-a .l-qus-ans-txt{width:234px;background:url(../images/wdy/qus7-a.png) no-repeat 0 0;}
.l-qus7-ans-b .l-qus-ans-txt{width:326px;background:url(../images/wdy/qus7-b.png) no-repeat 0 0;}
.l-qus7-ans-c .l-qus-ans-txt{width:351px;background:url(../images/wdy/qus7-c.png) no-repeat 0 0;}
.l-qus7-ans-d .l-qus-ans-txt{width:277px;background:url(../images/wdy/qus7-d.png) no-repeat 0 0;}
/*选中答案*/
/*.l-qus-ans-seled .l-qus-ans-sel{background:url(../images/wdy/qus-sel.png) no-repeat 0 0;}*/

/*结果页*/
.l-wrap-res{width:100%;height:100%;background:url(../images/wdy/res-bg.jpg) no-repeat 0 0;position:absolute;left:0;top:0;z-index:1;}
.l-res-logo{height:124px;background:url(../images/wdy/res-top.png) no-repeat 50% 32px;}
.l-res-btn{width:188px;height:83px;margin:0 auto;background:url(../images/wdy/res-show.png) no-repeat 50%;}
.l-res-con{height:520px;}
.l-res1-con{background:url(../images/wdy/res1-c.png) no-repeat 50% 0;}
.l-res2-con{background:url(../images/wdy/res2-c.png) no-repeat 50% 0;}
.l-res3-con{background:url(../images/wdy/res3-c.png) no-repeat 50% 0;}
.l-res4-con{background:url(../images/wdy/res4-c.png) no-repeat 50% 0;}
.l-res5-con{background:url(../images/wdy/res5-c.png) no-repeat 50% 0;}
.l-res6-con{background:url(../images/wdy/res6-c.png) no-repeat 50% 0;}
.l-res7-con{background:url(../images/wdy/res7-c.png) no-repeat 50% 0;}
/*分享页*/
.l-wrap-share{z-index:55;display:none;/*width:100%;height:100%;position:absolute;left:0;top:0;background:rgba(0,0,0,0.7);*/}
.l-share-img{height:389px;background:url(../images/wdy/share.png) no-repeat 91px 25px;}
/*介绍页*/
.l-intro-sec{position:absolute;width:100%;height:100%;z-index:1;opacity:0;-webkit-transition:opacity 0.6s ease;}
.l-wrap-intro{width:100%;height:100%;position:relative;overflow:hidden;background:#000}
.l-intro-scroll{width:100%;position:absolute;top:0;left:0;}
.l-intro-box{height:2310px;background:url(../images/wdy/intro.jpg) no-repeat 0 0}
.l-intro-bot{background:url(../images/wdy/intro-bot.jpg) no-repeat 50% 0;}
.l-intro-bot{height:842px;background:#fff url(../images/wdy/intro-bot.jpg) no-repeat 50% 0;}
.l-intro-fix{display:block;width:156px;height:156px;background:rgba(200,170,109,0.51) url(../images/wdy/seepwd.png) no-repeat 50%;position:fixed;top:506px;right:13px;z-index:101;border-radius:50%;}
.l-cooperate{padding-top:20px;line-height:26px;font-size:18px;text-align:center;color:#fff;}








