@charset "utf-8";
/*投票器样式*/
.vote_bg {
	/*	background-color: #C2D6F0;
	border: #8EA6C5 1px solid;*/
	overflow: hidden;
	padding: 5px;
	font-size: 12px;
	margin: 0 auto;
}
.vote_label {
	paddding: 5px;
	font-size: 25px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-bottom: 20px;
	line-height: 30px;
	margin-top: 20px;
}
.vote_blank {
	/*	background-color: #EBEAE6;
	border: #ffffff 1px solid;*/
	overflow: hidden;
	padding: 3px 0px 5px 0px;
	/*	border-bottom: #898A91 1px solid;
	border-right: #898A91 1px solid;*/
	margin: 5px;
	font-size: 12px
}
.vote_blank .vote_line {
	overflow: hidden;
	padding: 6px 0px 6px 0px;
@padding:5px 0px 5px 0px;
}
/*投票项每项的标头*/
.vote_line .title {
	float: left;
	width: 100%;
	text-indent: 20px;
	color: #fff;
	padding: 0px;
	overflow: hidden;
	margin-top: 4px;
	margin-bottom: -4px;
	font-size: 20px;
	line-height: 25px;
}
/*投票项每项的条*/
.vote_line .slip_bg {
	height: 25px;
	margin-top: 4px;
	margin-left: 8px;
	overflow: hidden;
	float: left;
	background-color: #ffffff;
	border: 1px solid #F3F2F0;
	display: inline;
}
.vote_line .slip_bar {
	height: 24px;
}
.slip_bar em {
	/*border: #999999 1px solid;
	filter: Alpha(Opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;*/
	display: block;
	height: 25px;
	overflow: hidden;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.slip_bar b {
	display: block;
	width: 100%;
	height: 1px;
	overflow: hidden;
	background-color: #ffffff;
}
/*投票项每项的条数据显示*/
.vote_line .note {
	float: left;
	line-height: 25px;
	margin-bottom: -4px;
	margin-top: 4px;
	margin-left: 10px;
	color: #FFF;
	font-size: 20px;
}
.vote_label .vote_btn {
	height: 22px;
}
