body {
	background:url(../images/bg/ncwall_purple.jpg) no-repeat 50% 0;
}
.nc_header .notice {
	color: #FFF;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4C000000', endColorstr='#4C000000');background:rgba(0,0,0,0.3);
}
.nc_header .notice strong {
	color: #c8fb80;
}
.nc_header .notice span {
	color:#C8FB80;
}
.nc_wall .nc_list li {
	background:url(../images/bg/ncwall_purple_bg.png) repeat-x;border: 1px solid #fff;
}
.nc_wall{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#0F983691', endColorstr='#0F983691');background:rgba(152,54,145,0.3);	border: 1px solid #a2418b;}
.lottery-l ul li:hover {
	background: #54034d;
}
.btn-regist {
	background: #fd6906;
}

.btn-regist:hover {
		background: #dd5a03;
}