body {
	background:url(../images/bg/ncwall_cyan.jpg) no-repeat 50% 0;
}
.nc_header .notice {
	color: #FFF;
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4C000000', endColorstr='#4C000000');background:rgba(0,0,0,0.3);
}
.nc_header .notice strong {
	color: #c8fb80;
}
.nc_header .notice span {
	color:#C8FB80;
}
.nc_wall .nc_list li {
	background:url(../images/bg/ncwall_cyan_bg.png) repeat-x;border: 1px solid #fff;
}
.nc_wall{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#9900777C', endColorstr='#9900777C');background:rgba(0,119,124,0.6);border: 1px solid #64d3d7;}
.lottery-l ul li:hover {
	background: #03acb2;
}
.btn-regist {
	background:#ff8400;
}

.btn-regist:hover {
	background: #ec7b02;
}