body {
	background: url(../images/bg/ncwall_red.jpg) no-repeat 50% 0;
}
.nc_header .notice {
	color: #FFF;
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4C000000', endColorstr='#4C000000');background:rgba(0,0,0,0.3);
}
.nc_header .notice strong {
	color: #c8fb80;
}
.nc_header .notice span {
	color:#C8FB80;
}
.nc_wall .nc_list li {
	background: url(../images/bg/ncwall_red_bg.png) repeat-x;
	border: 1px solid #fff;
}
.nc_wall {
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#99F87B5E', endColorstr='#99F87B5E');
	background: rgba(248,123,94,0.4);
	border: 1px solid #e56b4f;
}
.lottery-l ul li:hover {
	background: #ab1105;
}
.btn-regist {
	background: #ab1105;
}
.btn-regist:hover {
	background: #880b01;
}
