body {
	background: url(../images/bg/ncwall_orange.jpg) no-repeat 50% 0;
}
.nc_header .notice {
	color: #FFF;
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4C000000', endColorstr='#4C000000');background:rgba(0,0,0,0.3);
}
.nc_header .notice strong {
	color: #c8fb80;
}
.nc_header .notice span {
	color:#C8FB80;
}
.nc_wall .nc_list li {
	background: url(../images/bg/ncwall_orange_bg.png) repeat-x;
	border: 1px solid #fff;
}
.nc_wall{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99FF8C2F', endColorstr='#99FF8C2F');background:rgba(255,140,47,0.6);border:1px solid #f69b52;}
.lottery-l ul li:hover {
	background: #ef4f07;
}
.btn-regist {
	background:#e73904;
}

.btn-regist:hover {
	background:#e63802;
}