<script type="text/babel">
  require('font-awesome/css/font-awesome.css');
  require('./assets/sass/bootstrap/_bootstrap.scss');
//  require('bootstrap-sass/assets/stylesheets/_bootstrap.scss')
  require('./assets/css/base.css');
</script>

<template>
  <router-view></router-view>
</template>