

<script type="text/javascript" src="/mall/resource/js/jquery.nc_slider.js" charset="utf-8"></script>
<div id="store_decoration_area" class="store-decoration-page">
    
    
    


<div id="block_3" data-block-id="3" nctype="store_decoration_block" class="ncsc-decration-block store-decoration-block-1  tip" title="">
    <div nctype="store_decoration_block_content" class="ncsc-decration-block-content store-decoration-block-1-content">
        <div nctype="store_decoration_block_module" class="store-decoration-block-1-module">
            
            



<ul class="goods-list">
  
  <li nctype="goods_item" data-goods-id="1" data-goods-name="测试商品" data-goods-price="110.00"  data-goods-image="5_05660473368688958.jpg">
    
    <div class="goods-thumb"> <a href="/mall/c-1.html" target="_blank" title="测试商品"> <img src="/data/upload/mall/store/goods/5/5_05660473368688958_240.jpg"/ alt="测试商品"> </a> </div>
    <dl class="goods-info">
      <dt><a href="/mall/c-1.html" target="_blank" title="测试商品">测试商品</a></dt>
      <dd>&yen;110.00</dd>
    </dl>
    
  </li>
  
</ul>



            
        </div>
        
    </div>
    
</div>

    
    
</div>
<script type="text/javascript">
    $(document).ready(function(){
        //幻灯片
        $('[nctype="store_decoration_slide"]').nc_slider();
    });
</script>
