@charset "utf-8";
.dialog_wrapper { background-color: rgba(130, 130, 130, 0.25); border-radius:4px;  padding:4px; box-shadow: 0 0 12px rgba(0,0,0,0.75) }
    .dialog_body { background: #fff; border: solid 1px #7B7B7B; }
        .dialog_head { height: 31px; margin: 0 !important;}
		
		.dialog_title { color: #666; line-height: 14px; font-weight: bold; background-color: #F2F2F2; border-bottom: 1px solid #EAEAEA; padding: 8px 10px; display: block; }
			.dialog_title_icon { font-size: 14px;}
            .dialog_close_button {display: block; width: 14px; height: 14px; background: url(images/dialog_close_button.gif) left top; position: absolute; top: 8px; right: 8px; line-height: 14px; cursor: pointer;}
            .dialog_close_button:hover { background: url(images/dialog_close_button.gif) left bottom;}
        .dialog_content {}
		
            .dialog_loading { text-align:center; }
                .dialog_loading_text { padding:0px;padding-top:20px;padding-left:10px;width:199px;font-style:italic;margin:15px auto 5px auto; text-align:left; font-size:15px;background:transparent url(images/loading.gif) no-repeat center top; }
            .dialog_message_body { margin:15px 5px 5px 5px; }
                .dialog_message_contents { margin:0px 10px; padding-left:45px; padding-top:5px; padding-bottom:20px; }
                .dialog_message_notice { background:transparent url(images/message_notice.gif) no-repeat left top; }
                .dialog_message_warning { background:transparent url(images/message_warning.gif) no-repeat left top; }
                .dialog_message_confirm { background:transparent url(images/message_confirm.gif) no-repeat left top; }
                .dialog_buttons_bar { text-align:center;margin-top:5px; }
                .dialog_buttons_bar input { margin:0px 5px; }
                .dialog_buttons_bar .btn1 {width: 75px; height: 29px; border: 0; background: url(images/btn1.gif); color: #c73702; font-weight: bold; font-size: 14px;  cursor: pointer;}
                .dialog_buttons_bar .btn2 {width: 75px; height: 29px; border: 0; background: url(images/btn2.gif); color: #4e4e4e; font-weight: bold; font-size: 14px;  cursor: pointer;}


.dialog_has_title { background: #555; }
    .dialog_has_title .dialog_body { background: #fff; bottom: 3px; right: 3px; padding: 10px; border: 4px solid #D7DCE1; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666;}
        .dialog_has_title .dialog_head { height: 30px; border-bottom: 1px solid #F1F3FA;
}
#ui-datepicker-div {z-index:10000; height: auto;}
            .dialog_has_title .dialog_title {color: #666; font-size: 16px; font-weight: bold; background: #fff url(images/linebox_h1_span.gif) no-repeat left 3px; padding: 4px 10px 5px 15px; display: block; float: left; }
            .dialog_has_title .dialog_close_button {position: absolute; top: 10px; _top:14px; right: 10px; background: #fff url(images/dialog_close_button.gif) no-repeat right bottom; width: 14px; height: 14px; padding-right: 10px; overflow: hidden; cursor: pointer; line-height: 14px;}
            .dialog_has_title .dialog_close_button:hover { background: #fff url(images/dialog_close_button.gif) no-repeat right top;}
        .dialog_has_title .dialog_content {}
            .dialog_has_title .dialog_loading { text-align:center; }
                .dialog_has_title .dialog_loading_text { padding:0px; padding-top:20px; padding-left:10px; width:199px; font-style:italic; margin:15px auto 5px auto; text-align:left; font-size:15px; background:transparent url(images/loading.gif) no-repeat center top; }
            .dialog_has_title .dialog_message_body { margin:15px 5px 5px 5px; }
                .dialog_has_title .dialog_message_contents { margin:0px 10px; padding-left:45px; padding-top:5px; padding-bottom:20px; }
                .dialog_has_title .dialog_message_notice { background:transparent url(images/message_notice.gif) no-repeat left top; }
                .dialog_has_title .dialog_message_warning { background:transparent url(images/message_warning.gif) no-repeat left top; }
                .dialog_has_title .dialog_message_confirm { background:transparent url(images/message_confirm.gif) no-repeat left top; }
                .dialog_has_title .dialog_buttons_bar { text-align:center;margin-top:5px; }
                .dialog_has_title .dialog_buttons_bar input { margin:0px 5px; }
                .dialog_has_title .dialog_buttons_bar .btn1 {width: 75px; height: 29px; border: 0; background: url(images/btn1.gif); color: #c73702; font-weight: bold; font-size: 14px;  cursor: pointer;}
                .dialog_has_title .dialog_buttons_bar .btn2 {width: 75px; height: 29px; border: 0; background: url(images/btn2.gif); color: #4e4e4e; font-weight: bold; font-size: 14px;  cursor: pointer;}

/*dialog2.2.css*/
.z{float:left;}.y{float:right;}.xg1,.xg1 a{color:#999 !important;}.xg1 .xi2{color:#369 !important;}.xg2{color:#666;}.notice{clear:both;margin:5px 0;padding:3px 5px 3px 20px;background:url(images/notice.gif) no-repeat 2px 6px;}#ajaxwaitid{display:none;position:absolute;right:0;top:0;z-index:1;padding:0 5px;background:#D00;color:#FFF;}.showmenu{padding-right:16px;background:url(images/arrwd.gif) no-repeat 100% 50%;cursor:pointer;white-space:nowrap;}.pn{vertical-align:middle;overflow:hidden;margin-right:3px;padding:0;height:23px;border:1px solid #999;cursor:pointer;-moz-box-shadow:0 1px 0 #E5E5E5;-webkit-box-shadow:0 1px 0 #E5E5E5;box-shadow:0 1px 0 #E5E5E5;}.pn:active{background-position:0 -23px;}.ie6 .pn{overflow-x:visible;width:0;}.pn span,.pn strong{padding:0 10px;line-height:21px;}.pn strong{font-weight:700;}.ie7 .pn em,.ie7 .pn span,.ie7 .pn strong{padding:0 5px;line-height:18px;}.pnc,a.pnc{border-color:#235994;background-color:#06C;background-position:0 -48px;color:#FFF !important;}.pnc:active{background-position:0 -71px;}.altw{width:350px;}.altw .fltc{margin-bottom:0;padding:8px;}.alert_right,.alert_error,.alert_info{padding:6px 0 6px 58px;min-height:40px;height:auto !important;height:40px;line-height:160%;background:url(images/right.gif) no-repeat 8px 8px;font-size:14px;}.alert_error{background-image:url(images/error.gif);}.alert_error a{font-weight:700;color:#369;}.alert_info{background-image:url(images/info.gif);}.alert_btnleft{margin-top:8px;}.alert_btn{margin-top:20px;text-align:center;}.alert_act{margin-top:20px;padding-left:58px;}.t_l,.t_c,.t_r,.m_l,.m_r,.b_l,.b_c,.b_r{overflow:hidden;background:#000;opacity:0.2;filter:alpha(opacity=20);}.t_l,.t_r,.b_l,.b_r{width:4px;height:4px;}.t_c,.b_c{height:4px;}.m_l,.m_r{width:4px;}.t_l{-moz-border-radius:4px 0 0 0;-webkit-border-radius:4px 0 0 0;border-radius:4px 0 0 0;}.t_r{-moz-border-radius:0 4px 0 0;-webkit-border-radius:0 4px 0 0;border-radius:0 4px 0 0;}.b_l{-moz-border-radius:0 0 0 5px;-webkit-border-radius:0 0 0 5px;border-radius:0 0 0 5px;}.b_r{-moz-border-radius:0 0 4px 0;-webkit-border-radius:0 0 4px 0;border-radius:0 0 4px 0;}.m_c{background:#FFF;border:1px solid #7B7B7B;}.m_c .tb{margin:0 0 10px;padding:0 10px;}.m_c .c{padding:10px 10px 0 10px;}.m_c .o{background-color:#F9F9F9;border-top:1px solid #EAEAEA;margin-top:12px;padding:12px;text-align:right;overflow:hidden;zoom:1;font-size:12px;}.m_c .el{width:420px;}.m_c .el li{padding:0;border:none;}.flb{height:31px;}.flb_title{background-color:#F2F2F2;border-bottom:1px solid #EAEAEA;color:#666666;display:block;font-weight:bold;line-height:14px;padding:8px 10px}.flb em a{text-decoration:none;}.flb .needverify{float:left;margin-left:8px;padding-left:13px;width:45px;height:21px;line-height:21px;background:url(images/re_unsolved.gif) no-repeat 0 0;font-size:12px;color:#999;font-weight:400;}.flb .onerror,.flb .onright{padding-left:20px;height:auto;line-height:140%;white-space:nowrap;font-size:12px;font-weight:400;}.flb .onerror{background:url(images/check_error.gif) no-repeat 0 50%;}.flb .onright{background:url(images/check_right.gif) no-repeat 0 50%;color:#666;}.flb span{float:right;color:#999;}.flb span a,.flb strong{float:left;text-decoration:none;font-weight:400;color:#333;}.flb span a:hover{color:#999;}.flbc{background:url(images/dialog_close_button.gif) repeat scroll left top transparent;cursor:pointer;display:block;height:14px;line-height:14px;position:absolute;right:12px;top:12px;width:14px;text-indent:1000px;overflow:hidden;}.flbc:hover{background:url(images/dialog_close_button.gif) repeat scroll left bottom transparent;}.floatwrap{overflow:auto;overflow-x:hidden;margin-bottom:10px;height:280px;}.f_c{}.f_c li{list-style:none;}.f_c hr.l{margin:0;}.f_c a{color:#369;}.f_c .list{margin:0 auto 10px;width:570px;border-top:3px solid #CDCDCD;}.f_c .list th,.f_c .list td{padding:5px 2px;height:auto;border-bottom:1px dashed #CDCDCD;}.f_c .list .btns th,.f_c .list .btns td{border-bottom:none;}.f_c .th th,.f_c .th td{padding:10px 0;}.f_c .list th{background:none;}.nfl{height:auto !important;height:320px;min-height:320px;}.nfl .f_c{margin:60px auto;padding:20px;width:580px;border:3px solid #F2F2F2;background:#FFF;}.nfl .loginform{height:auto;}.nfl .clause{width:auto;height:auto;}.fwin{border-radius:4px;box-shadow:0 0 12px rgba(0,0,0,0.75);}.fwin .rfm,.nfl .f_c .rfm{width:500px;}.fwin .rfm th,.fwin .rfm td,.nfl .f_c .rfm th,.nfl .f_c .rfm td{padding:6px 2px;}.fwin .loginb button{margin-left:11.3em;}

.flb { margin:0 !important;}
