<div class="nctouch-full-mask hide">
    <div class="nctouch-full-mask-bg"></div>
    <div class="nctouch-full-mask-block">
        <div class="header">
            <div class="header-wrap">
                <div class="header-l"> <a href="javascript:void(0);"><i class="back"></i></a></div>
                <div class="header-title">
                    <h1>筛选</h1>
                </div>
                <!--<div class="header-r"><a href="javascript:void(0);" id="reset" class="text">重置</a> </div>-->
            </div>
        </div>
        <div class="nctouch-main-layout-a secreen-layout1" id="list-items-scroll"><div></div></div>
    </div>
</div>
<script type="text/html" id="search_items">
    <div class="params">
        <dl>
            <dt>店铺类型</dt>
            <dd>
                <a href="javascript:void(0);" nctype="items" id="own_mall" class="">平台自营</a>
            </dd>
        </dl>
        <dl>
            <dt>价格区间</dt>
            <dd>
                <span class="inp-balck"><input type="text" id="price_from" nctype="price" pattern="[0-9]*" class="inp" placeholder="最低价"/></span>
                <span class="line"></span>
                <span class="inp-balck"><input nctype="price" type="text" id="price_to" pattern="[0-9]*" class="inp" placeholder="最高价"/></span>
            </dd>
        </dl>
        <dl>
            <dt>商品所在地</dt>
            <dd><span class="inp-balck add"><select id="area_id">
                <option value="">不限</option>
                <% for (i = 0; i < area_list.length; i++) { %>
                <option value="<%=area_list[i]['area_id']%>"><%=area_list[i]['area_name']%></option>
                <% } %>
                </select>
                <i></i>
        </span>
            </dd>
        </dl>
        <dl>
            <dt>商品类型</dt>
            <dd>
                <a href="javascript:void(0);" nctype="items" id="gift" class="">赠品</a>
                <a href="javascript:void(0);" nctype="items" id="groupbuy">团购</a>
                <a href="javascript:void(0);" nctype="items" id="xianshi">限时折扣</a>
                <a href="javascript:void(0);" nctype="items" id="virtual">虚拟</a>
            </dd>
        </dl>

        <dl>
            <dt>店铺服务</dt>
            <dd>
                <% for (i = 0; i < contract_list.length; i++) { %>
                <a href="javascript:void(0);" nctype="items" name="ci" value="<%=contract_list[i]['id']%>"><%=contract_list[i]['name']%></a>
                <% } %>
            </dt>
        </dl>
    </div>
    <div class="bottom">
        <a href="javascript:void(0);" id="reset1" class="text">重置</a>
        <a href="javascript:void(0);" class="btn-l1" id="search_submit">确定</a>
    </div>
</script>