.f12 {font-size:12px}
.f13 {font-size:13px}
.f14 {font-size:14px}
.f16 {font-size:16px}
.f20 {font-size:20px}
.t2 {text-indent:2em}
.bc {margin-right:auto;margin-left:auto}
.fl {float:left;}
.fr {float:right;}
.vm {vertical-align:middle}
.vt {vertical-align:top}
.pr {position:relative}
.pa {position:absolute}
.zoom {zoom:1}
.none {display:none}
.w10 {width:10px}
.w20 {width:20px}
.w30 {width:30px}
.w40 {width:40px!important}
.w50 {width:50px!important}
.w60 {width:60px!important}
.w65 {width:65px!important}
.w70 {width:70px!important}
.w80 {width:80px!important}
.w90 {width:90px}
.w96 {width:96px}
.w100 {width:100px!important}
.w110 {width:110px!important}
.w120 {width:120px!important}
.w130 {width:130px!important}
.w150 {width:150px!important}
.w160 {width:160px}
.w180 {width:180px}
.w200 {width:200px!important}
.w210 {width:210px!important}
.w230 {width:230px}
.w240 {width:240px}
.w250 {width:250px!important}
.w260 {width:260px}
.w270 {width:270px}
.w300 {width:300px!important}
.w340 {width:340px}
.w380 {width:380px}
.w400 {width:400px!important}
.w420 {width:420px!important}
.w450 {width:450px!important}
.w500 {width:500px}
.w530 {width:530px}
.w600 {width:600px!important}
.w700 {width:700px}
.w780 {width:780px}
.w800 {width:800px}
.w208 {width:208px}
.w965  { width: 965px;  overflow: hidden;}
.w220  { width: 220px;  overflow: hidden;}
.w {width:100%}
.h20 {height:20px!important}
.h30 {height:30px!important}
.h40 {height:40px!important}
.h50 {height:50px!important}
.h80 {height:80px}
.h100 {height:100px!important}
.h200 {height:200px}
.h500 {height:500px!important}
.h {height:100%}
.size30 {width:30px;height:30px}
.size32 {width:32px;height:32px}
.size40 {width:40px;height:40px}
.size60 {width:60px;height:60px}
.size70 {width:70px;height:70px}
.size72 {width:72px;height:72px}
.size75 {width:75px;height:75px}
.size80 {width:80px;height:80px}
.size90 {width:90px;height:90px}
.size100 {width:100px;height:100px}
.size110 {width:110px;height:110px}
.size120 {width:120px;height:120px}
.size128 {width:128px;height:128px}
.size160 {width:160px;height:160px}
.size160-48 {width:160px;height:48px}
.size160 {width:160px;height:160px}
.size184 {width:184px;height:114px}
.size190 {width:190px;height:190px}
.size196 {width:196px;height:196px}
.size233 {width:233px}
.m0 {margin:0!important}
.m10 {margin:10px}
.m15 {margin:15px!important}
.m30 {margin:30px}
.mt5 {margin-top:5px}
.mt10 {margin-top:10px!important}
.mt15 {margin-top:15px}
.mt20 {margin-top:20px!important}
.mt30 {margin-top:30px!important}
.mt50 {margin-top:50px!important}
.mt100 {margin-top:100px}
.mb5 {margin-bottom:5px!important}
.mb10 {margin-bottom:10px!important}
.mb15 {margin-bottom:15px}
.mb20 {margin-bottom:20px}
.mb25 {margin-bottom:25px}
.mb30 {margin-bottom:30px!important}
.mb50 {margin-bottom:50px}
.mb100 {margin-bottom:100px}
.ml5 {margin-left:5px!important}
.ml10 {margin-left:10px!important}
.ml15 {margin-left:15px}
.ml20 {margin-left:20px}
.ml30 {margin-left:30px}
.ml50 {margin-left:50px}
.ml100 {margin-left:100px!important}
.ml200 {margin-left:200px!important}
.mr5 {margin-right:5px!important}
.mr10 {margin-right:10px!important}
.mr15 {margin-right:15px!important}
.mr20 {margin-right:20px}
.mr30 {margin-right:30px!important}
.mr50 {margin-right:50px!important}
.mr100 {margin-right:100px}
.p0 {padding:0}
.p10 {padding:10px}
.p15 {padding:15px}
.p30 {padding:30px}
.pt5 {padding-top:5px}
.pt10 {padding-top:10px}
.pt15 {padding-top:15px}
.pt20 {padding-top:20px}
.pt30 {padding-top:30px}
.pt40 { padding-top:40px}
.pt50 {padding-top:50px}
.pt60 {padding-top:60px}
.pt100 {padding-top:100px}
.pb5 {padding-bottom:5px}
.pb10 {padding-bottom:10px}
.pb15 {padding-bottom:15px}
.pb20 {padding-bottom:20px!important}
.pb30 {padding-bottom:30px}
.pb50 {padding-bottom:50px}
.pb100 {padding-bottom:100px}
.pl0 {padding-left:0 !important;}
.pl5 {padding-left:5px}
.pl10 {padding-left:10px}
.pl15 {padding-left:15px}
.pl20 {padding-left:20px}
.pl25 {padding-left:25px;}
.pl30 {padding-left:30px}
.pl50 {padding-left:50px}
.pl100 {padding-left:100px}
.pr5 {padding-right:5px}
.pr10 {padding-right:10px}
.pr15 {padding-right:15px}
.pr20 {padding-right:20px}
.pr30 {padding-right:30px}
.pr50 {padding-right:50px}
.pr100 {padding-right:100px}
.b0 {border:0}
.bb1 {border-bottom:1px solid #ff6700;}
.br0 {border-radius:0}