@charset "utf-8";
/*.dialog_wrapper { filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#3F000000', endColorstr='#3F000000'); background: rgba(0,0,0,0.25); padding: 5px; }*/
.dialog_body { background-color: #FFF;box-shadow: 0 0 15px rgba(0, 0, 0, .4);}
.dialog_head { background-color: #fafafa; margin: 0; border-bottom: solid 1px #E6E6E6; position: relative; z-index: auto; }
.dialog_title { line-height: 40px; display: inline-block; height: 40px; padding-left: 15px; border: none 0; }
.dialog_title_icon { font-size: 14px; line-height: 20px; color: #555; }
.dialog_close_button { font-family: Verdana; font-size: 14px; line-height: 20px; font-weight: 400; color: #999; text-align: center; display: block; width: 20px; height: 20px; position: absolute; z-index: 1; top: 10px; right: 10px; cursor: pointer; }
.dialog_close_button:hover { text-decoration: none; color: #333; }
.dialog_loading { text-align: center; }
.dialog_loading_text { padding: 0px; padding-top: 20px; padding-left: 10px; width: 199px; font-style: italic; margin: 15px auto 5px auto; text-align: left; font-size: 15px; background: transparent url(images/loading.gif) no-repeat center top; }
.dialog_message_body { margin: 15px 5px 5px 5px; }
.dialog_message_contents { font-size: 14px; line-height: 24px; color: #000; text-align: center; min-width: 360px; padding: 30px 20px; }
.dialog_message_contents i { display: inline-block; vertical-align: middle; width: 24px; height: 24px; margin-right: 12px; }
.dialog_message_contents i.alert_info { background: transparent url(images/info.gif) no-repeat 0 0; }
.dialog_message_contents i.alert_right { background: transparent url(images/right.gif) no-repeat 0 0; }
.dialog_message_contents i.alert_error { background: transparent url(images/error.gif) no-repeat 0 0; }
.dialog_message_confirm { background: transparent url(images/message_confirm.gif) no-repeat left top; }
.dialog_buttons_bar { text-align: center; padding: 10px 0; margin: 0; border-top: solid 1px #EEE; }
.dialog_buttons_bar input { margin: 0px 5px; }
time.countdown { color: #999; margin: 10px auto; }
time.countdown i { font-size: 14px; margin-right: 4px; }
.dialog_buttons_bar .btn1 { width: 75px; height: 29px; border: 0; background: url(images/btn1.gif); color: #c73702; font-weight: bold; font-size: 14px; cursor: pointer; }
.dialog_buttons_bar .btn2 { width: 75px; height: 29px; border: 0; background: url(images/btn2.gif); color: #4e4e4e; font-weight: bold; font-size: 14px; cursor: pointer; }
.dialog_has_title { background: #555; }
.dialog_has_title .dialog_body { background: #fff; bottom: 3px; right: 3px; padding: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666; }
.dialog_has_title .dialog_head { height: 30px; border-bottom: 1px solid #F1F3FA; }
#ui-datepicker-div { z-index: 10000; height: auto; }
a.dialog-bottom-btn { font-size: 12px; font-weight: normal; line-height: 20px; color: #777; background-color: #F5F5F5; text-align: center; display: inline-block; height: 20px; padding: 4px 12px; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; cursor: pointer; }
a:hover.dialog-bottom-btn { text-decoration: none; color: #333; background-color: #E6E6E6; border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF; }
a.dialog-bottom-btn-acidblue,
a:hover.dialog-bottom-btn-acidblue { color: #FFF; text-shadow: 0 -1px 0 rgba(0,0,0,0.10); }
a.dialog-bottom-btn-acidblue { background-color: #49AFCD; border-color: #429DB8 #429DB8 #37839A #429DB8; }
a:hover.dialog-bottom-btn-acidblue { background-color: #2F96B4; border-color: #2A87A2 #2A87A2 #237087 #2A87A2; }
