@charset "utf-8";
/* ================================ */
/* 商城店铺页面公用样式定义 				*/
/* Author:			Hulihutu		*/
/* Copyright:		www.shopwwi.com	*/
/* Create Date:		Apr-14-2012		*/
/* Retrofit Date:	Mar-18-2014		*/
/* ================================ */

/* =====================
 * 顶部公用头的特殊设定
 * ===================== */


h1 { font-size: 14px; font-weight: 600;}
h3 { font-size: 14px; font-weight: 600;}
h4 { font-size: 12px; font-weight: 600;}

/* =====================
 * 表单元素格式化及伪类效果
 * ===================== */
.text-hidden { line-height:0; font-size:0; overflow:hidden;}
.noborder { border: none;}
.gray { color: #777;}
.price { color:#F60; font-weight: 600;}
.mallkeeper { font-weight: 600; white-space:nowrap; min-width:1px; max-width:110px; float:left; white-space: nowrap; text-overflow : ellipsis; overflow: hidden;}
.wwi-ss-loading { background: url(../images/loading.gif) no-repeat 50% 50%; min-height:100px; _height:expression(this.scrollHeight < 100 ? "100px" : "auto");}
.background { width: 100%; position: relative; z-index: 1;}
.layout { position: relative; z-index: 4;}
.nothing { padding: 50px 0; text-align: center; }
.nothing p { width: 200px; height: 48px; padding: 0 0 0 60px; background: url(../images/nothing.gif) no-repeat 0 50%; font-weight: bold; font-size: 15px; line-height: 48px; color: #585858; margin: 0 auto; }
.error { color:#F00;}



/* ============================== */
/* 头部店铺介绍与搜索 -> header.php */
/* ============================== */

.wwi-ss-header { width: 1000px; padding: 0; margin: 0 auto; position: relative; z-index: 2;}
.wwi-ss-header-container { width: 1000px; margin: 0 auto; position: relative; z-index: 1;}
.wwi-ss-store-info { font-size: 0; *word-spacing:-1px/*IE6、7*/; background: url(../images/mall/ncs_store_top.png) no-repeat top center; text-align: right; height: 30px; padding: 10px 10px 4px 10px; position: absolute; z-index: 1; top: 0; right: 0;}
.wwi-ss-store-info .basic,
.wwi-ss-store-info .service { font-size: 12px; height: 30px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline; *zoom: 1; position: relative; z-index: 1; }
.wwi-ss-store-info .basic .displayed,
.wwi-ss-store-info .service .displayed { color: #FFEAAB; text-shadow: 1px 1px 0 rgba(102,0,0,0.5);}
.wwi-ss-store-info .basic .displayed a { color: #FFEAAB}
.wwi-ss-store-info .basic .sub,
.wwi-ss-store-info .service .sub { background: #FFF; display: none; padding: 9px 9px 0 9px; border: solid 1px #A51600; position: absolute; z-index: 1; top: 24px; left: -20px;}
.wwi-ss-store-info .basic:hover .sub,
.wwi-ss-store-info .service:hover .sub { display: block;}
.wwi-ss-store-info .basic { margin-left: 10px; text-align: left;}
.wwi-ss-store-info .basic .all-rate { margin-left: 10px;}
.wwi-ss-store-info .basic .all-rate .rating { background: url(../images/2014grate.png) no-repeat 0 -18px ; vertical-align: middle; display: inline-block;  *display: inline/*IE7*/; width: 79px; height: 17px; *zoom:1;}
.wwi-ss-store-info .basic .all-rate .rating span { background: url(../images/2014grate.png) no-repeat 100% 0; display: block; height: 18px;}
.wwi-ss-store-info .basic .all-rate em { font-weight: 600; vertical-align: middle; margin-right: 2px;}
.wwi-ss-store-info .basic .detail-rate { clear: both;}
.wwi-ss-store-info .basic dd { left: -10px;}
.wwi-ss-store-info .basic .store-logo { width: 200px; height: 60px; overflow: hidden;}
.wwi-ss-store-info .basic .store-logo a {line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 200px; height: 60px; overflow: hidden;}
.wwi-ss-store-info .basic .store-logo a img { max-width: 200px; max-height: 60px; margin-top:expression(40-this.height/2); *margin-top:expression(20-this.height/2)/*IE6,7*/;}
.wwi-ss-store-info .wwi-ss-info .title,
.wwi-ss-store-info .wwi-ss-info .all-rate { display: none;}
.wwi-ss-store-info .wwi-ss-info .content { border: none 0;}

.wwi-ss-store-info .service { margin: 0 10px 0 30px;}
.wwi-ss-store-info .service .displayed i { background: url(../images/mall/ncs_store_top.png) no-repeat 0 -50px; vertical-align: middle; margin-right: 4px; display: inline-block; *display: inline; width: 16px; height: 16px; *zoom: 1;}


/* 导航区域布局控制 */
.ncsl-nav { width: 1200px; margin: 0 auto; } 
/* 导航上部图片控制 */
.ncsl-nav .banner a.img { width: 1000px; display: block; }
.wwi-ss-default-banner { background: url(../store/style/default/images/header.jpg) no-repeat 0 0; display: block; width: 1000px; height: 240px;}
/* 店铺导航 */
.wwi-ss-nav { background-color: #D93600; width: 1198px; height: 38px; border: solid 1px #B22D00;}
.wwi-ss-nav ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; white-space: nowrap; display: block; width: 1199px; height: 38px; margin-left: -1px;}
.wwi-ss-nav li { font-size: 12px; vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block;}
.wwi-ss-nav li a { display: block; height: 38px;}
.wwi-ss-nav li a span { font-size: 14px; font-weight: 600; line-height: 20px; text-overflow: ellipsis; white-space: nowrap; max-width:160px; color: #FFF; display: block; height: 20px; padding: 9px 15px; margin-left: 4px; overflow:hidden; cursor:pointer;}
.wwi-ss-nav li.normal a span {}
.wwi-ss-nav li.normal a:hover { background-color: #b22d00;}
.wwi-ss-nav li.normal a:hover span { background-color: #b22d00; }
.wwi-ss-nav li.active a, 
.wwi-ss-nav li.active a:hover { background-color: #b22d00; }
.wwi-ss-nav li.active a span, 
.wwi-ss-nav li.active a:hover span {  background-color: #b22d00; text-shadow: 0 1px 1px rgba(0,0,0,.2)}
/*店铺分类下拉导航*/
.wwi-ss-nav-classes { position: relative; z-index: 2; }
.wwi-ss-nav-classes a { text-decoration: none !important;}
.wwi-ss-nav-classes a span i { font-size: 0; line-height: 0; vertical-align: middle; display: inline-block; width: 0; height: 0; margin-left: 8px; border-color: #FFF transparent transparent;  border-style: solid dashed dashed; border-width: 5px;}
.wwi-ss-nav-classes .classes-menu { background-color: #D93600; width: 139px !important; height: auto !important; padding: 0 !important; margin: 0 !important;  border: solid #B22D00; border-width: 0 1px 1px; position: absolute; top: 38px; left: 1px; box-shadow: 4px 4px 0 rgba(0,0,0,0.05);}
.store-nav-class-sub-menu { background: none !important; display: block !important; padding: 0!important; clear: both; position: relative; z-index: 1;}
.store-nav-class-sub-menu a { font-size: 12px !important; line-height: 20px; color: #FFF; background: none !important; display: block; text-overflow: ellipsis; white-space: nowrap; width: 120px; height: 20px !important; float: none !important; padding: 6px 10px 6px 10px!important; overflow: hidden;}
.store-nav-class-sub-menu a:hover { text-decoration: none; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#19000000', endColorstr='#19000000');background:rgba(0,0,0,0.1) !important;}
.store-nav-class-sub-menu a i { font-size: 0; line-height: 0; background-color: #FFF; vertical-align: middle; display: inline-block; width: 3px; height: 3px; margin-right: 10px;}
.store-nav-class-menu-item { background-color: #FFF; width: 140px !important; height: auto !important; padding: 0 !important; margin: 0 !important;  border: solid 1px #B22D00; position: absolute; top: 0; left: 140px; box-shadow: 4px 4px 0 rgba(0,0,0,0.05);}
.store-nav-class-menu-item li { background: none !important; display: block !important; padding: 0 !important; }
.store-nav-class-menu-item li a { color: #555; display: block;}
.store-nav-class-menu-item li a:hover { background-color: transparent !important; color: #D93600; text-decoration: underline !important;}
.store-nav-class-menu-item li a i { font-size: 0; line-height: 0; background-color: #999; vertical-align: middle; display: inline-block; width: 3px; height: 3px; margin-right: 10px;}

/* 头部客服中心列表 */
.wwi-ss-header-container .wwi-ss-message-bar { color: #555; text-align: left; text-shadow: none;}
.wwi-ss-header-container .wwi-ss-message-bar .default { display: none;}
.wwi-ss-header-container .wwi-ss-message-bar dl { width: 100px; margin-bottom: 10px;}
.wwi-ss-header-container .wwi-ss-message-bar dt { font-weight: 600; color: #D93600; display: block; padding-bottom: 5px; margin-bottom: 5px; border-bottom: solid 1px #F5F5F5;}
.wwi-ss-header-container .wwi-ss-message-bar dd { display: block; color: #777; padding: 1px 0 1px 10px;}
.wwi-ss-header-container .wwi-ss-message-bar dd span { line-height: 22px; margin: 0 6px 0 0;}
.wwi-ss-header-container .wwi-ss-message-bar dd img { vertical-align: middle;}
.wwi-ss-header-container .wwi-ss-message-bar dd p { line-height: 20px;}
.wwi-ss-header-container .wwi-ss-message-bar .workingtime { display: none;}
.mall-head-info .favorites .sub { background-color: #FFF; width: 300px; border: solid 1px #D8D8D8; position: absolute; z-index: 1; top: 60px; left: -213px; visibility: hidden;}
.mall-head-info .favorites .sub .title-bar { background-color: #F7F7F7; height: 24px; padding: 4px 8px; border-bottom: solid 1px #D8D8D8;}
.mall-head-info .favorites .sub .title-bar h3 { line-height: 24px; vertical-align: middle; display: inline-block;}
.mall-head-info .favorites .sub ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 280px; height: 50px; clear: both; padding: 10px 0; margin: 0 auto;}
.mall-head-info .favorites .sub li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; *zoom:1/*IE6、7*/; width: 50px; height: 50px; margin: 0 10px; position: relative; z-index: 1;}
.mall-head-info .favorites .sub li a.btn { line-height: 20px; color: #555; text-decoration: none; background-color: #FFF2DE; text-align: center; display: block; width: 48px; height: 20px; padding: 24px 0 4px 0; border: solid 1px #FFC893; border-radius: 4px; position: relative; z-index: 1; top: 0;}
.mall-head-info .favorites .sub li a:hover.btn { background-color: #FFD490;}
.mall-head-info .favorites .sub li a.btn i { background:url(../images/mall/public.png) no-repeat -660px -160px; width: 16px; height: 16px; position: absolute; z-index: 1; top: 6px; left: 16px;}
.mall-head-info .favorites .sub li a:hover.btn i { background-position: -640px -160px;}
.mall-head-info .favorites .sub li a { line-height: 20px; text-decoration: underline; text-align: center; width: 50px; height: 20px; position: absolute; z-index: 1; top: 5px; left: 0;}
.mall-head-info .favorites .sub li a.no-url { text-decoration: none; cursor: default;}
.mall-head-info .favorites .sub li a.no-url:hover { color: inherit;}
.mall-head-info .favorites .sub li span { line-height: 20px; text-align: center; width: 50px; height: 20px; position: absolute; z-index: 1; top: 26px; left: 0;}
.mall-head-info .favorites .sub li a.share { background:url(../images/mall/public.png) no-repeat -600px -160px; width: 16px; height: 16px; position: absolute; z-index: 1; top: 6px; left: 16px;}
.mall-head-info .favorites .sub li a.share:hover { background:url(../images/mall/public.png) no-repeat -620px -160px;}



#mall-info:hover .mall-info-simple { background:#FFF; border:solid #CCC; border-width: 1px 1px 0px 1px; padding:6px 10px 3px 9px; border-radius: 4px 0 0 0; box-shadow:2px 0px 0px 0px rgba(0,0,0,.1)visibility: hidden;}

#mall-info .mall-info-details { background: #FFF; display: none; width: 632px; height: 84px; padding: 2px 8px 8px 8px; border: solid #E7E7E7 1px; position: absolute; z-index:1; top: 49px; left: 0px; border-radius: 0 4px 4px 4px; box-shadow:2px 2px 0px 0px rgba(0,0,0,.1);}
#mall-info:hover .mall-info-details { display:block; border-color: #CCC;}
.mall-info-details dl { line-height: 28px; display:block; float:left; padding: 0 5px; }
.mall-info-details dl.rate { width: 181px;}
.mall-info-details dl.basic { width: 201px;}
.mall-info-details dl.other { width: 220px;}
.mall-info-details dl dt { color: #555; text-align:right; width: 60px; float:left; clear:left;}
.mall-info-details dl dd { color: #555; white-space: nowrap; overflow: hidden;}
.mall-info-details dl dd strong { color: #36C; font-weight: 600; padding-right:6px;}
.mall-info-details dl dd a.btn { line-height:16px; height:16px; float: right; padding: 2px 4px; margin:4px 0 0 0; border: solid 1px #E7E7E7;}

/* ====================== */
/* 店铺简介边栏 -> info.php */
/* ====================== */
.wwi-ss-info{width:168px;padding: 0 25px;}
.wwi-ss-info .zixun { display: block;  margin: 0 auto;  line-height: 28px;  text-align: center; color: #ff5370; border: 1px solid #ff5370;  width: 96px;  border-radius: 2px;  background-position: 11px -255px;}
.wwi-ss-info .zxtxt { padding: 13px 0 1px; text-align: center;}
.wwi-ss-info .hosarea{display: inline-block;}
.wwi-ss-info .joinins a{ color: #ff5370;}
.wwi-ss-info .joinins .map-box{ position: absolute; z-index: 10;}
.wwi-ss-info .joinins:hover .wwi-info-map{display: block;}
.wwi-ss-info .joinins .wwi-info-map{display: none;}
.wwi-ss-info .pink {color: #ff5c77;text-align: center;}
.wwi-ss-info .t-info{padding:23px 0 5px ;}
.wwi-ss-info .t-info > p.c999{padding-bottom: 4px; color:#999 ; text-align: left;}
.wwi-ss-info .t-info > p.c666{padding-bottom: 4px; color:#666 ; text-align: left;}
.wwi-ss-info .title-l{background-color:#FFF;padding:23px 10px;border-bottom: 1px dotted #e7e7e7;border-top: 1px dotted #e7e7e7;margin: 22px 0 28px;}
.wwi-ss-info .title-l a {}
.wwi-ss-info .title-l .store_img {width: 50px; height: 50px; overflow: hidden;  border: 1px solid #e5e5e5;  border-radius: 50%; margin: 0 auto 8px; display: block;}
.wwi-ss-info .title-l .store_name {  color: #666; font-size: 14px; text-align: center; padding-bottom: 1px;display: block;}
.wwi-ss-info .title-l .sc{color: #ff5370; font-size: 12px; text-align: center;display: block;padding-bottom: 1px;}
.wwi-ss-info .title-l .store_img img{width: 100%;}
.wwi-ss-info .title-l h4{font:600 14px/20px "Microsoft Yahei";color:#555}
.wwi-ss-info .content dl{font-size:0;display:block;padding:4px 0;font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"!important; text-align: center;}
.wwi-ss-info .content dl dt{font-size:12px;color:#999;vertical-align:top;letter-spacing:normal;word-spacing:normal;text-align:right;display:inline-block;width:68px}
.wwi-ss-info .content dl dd{font-size:12px;color:#333;vertical-align:top;letter-spacing:normal;word-spacing:normal;white-space:nowrap;text-overflow:ellipsis;display:inline-block;width:130px;overflow:hidden;zoom:1}
.wwi-ss-info .all-rate .rating{background:url(../images/2014grate.png) no-repeat 0 -18px;vertical-align:middle;display:inline-block;width:79px;height:17px}
.wwi-ss-info .all-rate .rating span{background:url(../images/2014grate.png) no-repeat 100% 0;display:block;height:18px}
.wwi-ss-info .all-rate em{color:#DA542E;font-weight:600;vertical-align:middle;margin-right:2px}
.wwi-ss-info .content .detail-rate{clear:both}
.wwi-ss-info .store-name{font-weight:600;color:#555;height:20px;padding:6px 9px;border-bottom:solid 1px #eee}
.wwi-s-main-rate { color: #999; width: 182px; padding: 5px; margin: 0 auto;}
.wwi-s-main-rate ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; padding: 5px 0;}
.wwi-s-main-rate li { font-size: 12px; color: #333; vertical-align: top; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 33.333%; height: 32px; *zoom: 1;}
.wwi-s-main-rate li h5 { color: #777; line-height: 16px; height: 16px;}
.wwi-s-main-rate li div { line-height: 16px; height: 16px; }
.wwi-s-main-rate .credit { color: #555; display: inline-block; width: 35px; margin-left: 4px;}
.wwi-s-main-rate li div i { background: url(../images/2014grate.png) no-repeat; vertical-align: middle; display: inline-block; width: 16px; height: 16px;}
.wwi-s-main-rate .high { color: #DA542E; }
.wwi-s-main-rate .high i { background-position: 0 -40px;}
.wwi-s-main-rate .equal { color: #DA542E; }
.wwi-s-main-rate .equal i { background-position: -32px -40px;}
.wwi-s-main-rate .low { color: #28B779; }
.wwi-s-main-rate .low i { background-position: -16px -40px;}
.wwi-ss-info .btns { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: center; padding-bottom: 12px; border-bottom: solid 1px #E6E6E6;}
.wwi-ss-info .btns a { font-size: 12px; line-height: 20px; color: #333; background-color: #F5F5F5; vertical-align: top; text-align: center; display: inline-block; *display: inline/*IE7*/; height: 20px; padding: 3px 10px; border: solid 1px #CCC; *zoom: 1;}
.wwi-ss-info .btns a.goto { color: #FFF; background-color: #333; border-color: #333; margin-right: 10px;}
.wwi-ss-info .btns a span { line-height: 20px; color: #999; margin-left: 3px; }
.wwi-ss-info .btns a:hover { text-decoration: none;}
.wwi-ss-info .no-border { border: 0!important; padding-bottom: 0!important;}

/* ====================== */
/* 左侧边栏样式 -> left.php */
/* ====================== */
.wwi-ss-sidebar-container { margin-bottom: 10px;}
.wwi-ss-sidebar-container .title { background-color: #fafafa ; height: 32px; padding: 0 10px; border: solid #DDD; border-width: 1px 1px 0 1px;}
.wwi-ss-sidebar-container .title h4 {  font: 14px/32px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; color:#333;}
.wwi-ss-sidebar-container .content { border: solid 1px #DDD; background:#FFF; padding:10px ; }

/* 侧边栏搜索 */
.wwi-ss-search { width: 180px; float: right; margin: 5px 13px 10px 5px;}
.wwi-ss-search th { width: 60px; text-align: right; padding: 5px 10px 5px 0;}
.wwi-ss-search td { padding: 5px 10px 5px 0;}
.wwi-ss-search a { border: solid 1px #F60; text-decoration:none; border-radius: 4px; background-color:#F90; color:#FFF; padding:4px 8px; line-height:16px; text-shadow: 1px 1px 0 rgba(255,110,0,.8); box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1); -moz-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1); -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1);}
.wwi-ss-search a:hover { background-color: #FFA620;}


/* 侧边栏商品分类 */
.wwi-ss-class-bar p { background-color: #F9F9F9; border-bottom: solid 1px #E7E7E7; height: 28px;}
.wwi-ss-class-bar p span { text-align: center; display:inline-block; width: 24%; height:20px; padding: 4px 0;}
.wwi-ss-class-bar p span { *display:block; *float:left;}
.wwi-ss-class-bar p a { line-height: 16px; color: #777; padding: 2px;}
.wwi-ss-class-bar p a:hover { text-decoration: none; color: #FFF; background-color: #999; border-radius: 4px;}
.wwi-ss-submenu { font-size: 0; *word-spacing:-1px/*IE6、7*/;  width: 170px; margin: 5px 13px 5px 15px; _margin: 5px 6px 5px 8px; _display: inline-block; _float:left;}
.wwi-ss-submenu li { font-size: 12px; font-weight: 600; text-align:left; margin: 6px 0; clear:both; }
.wwi-ss-submenu li a { line-height: 20px; word-wrap: break-word; display: inline-block; *dispaly: inline; max-width: 135px; color: #333; overflow:hidden; *zoom:1;}
.wwi-ss-submenu li ul { width: 150 ; margin: 5px 0px 5px 20px; }
.wwi-ss-submenu li ul li { line-height: 20px; font-weight: normal; text-align:left; margin: 4px 0; }
.ico-none, .ico-block, .ico-sub { vertical-align: top; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/; cursor: default;}
.ico-none, .ico-block, .ico-sub {}
.ico-none, .ico-block { width: 10px; height:10px; text-align:center; margin: 5px 10px 5px 0; border-radius: 2px;}
.ico-none em, .ico-block em { font-size: 12px; line-height: 10px!important; display: block; height: 10px;  }
.ico-sub { font-size: 0px; line-height:0; width: 3px; height:3px; margin: 8px 6px 8px 0; border-radius: 3px;}


/* 侧边栏排行榜 */
.wwi-ss-top-tab { padding: 0 15px; display: inline-block; }
.wwi-ss-top-tab li { float:left;}
.wwi-ss-top-tab li a  {float: left; width: 84px; height: 33px; border-bottom: 1px solid #e6e6e6; font: 14px/33px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";text-align: center;cursor: pointer;}
.wwi-ss-top-tab li.current a { border-bottom: 1px solid #f60;}
.wwi-ss-top-bar .hide { display: none;}

.wwi-ss-top-panel{display:block;margin:10px}
.wwi-ss-top-panel li{display:block;clear:both;margin-top:-1px;padding: 0 0 11px;margin-bottom:10px;  border-bottom: 1px dotted #f2f2f2;}
.wwi-ss-top-panel li:hover{background-color:#F7F7F7;z-index:1}
.wwi-ss-top-panel dl{display:block;height:75px;position:relative;z-index:1}
.wwi-ss-top-panel dl:hover{z-index:9}
.wwi-ss-top-panel dt{display:block;width:120px;position:absolute; max-height: 35px; overflow: hidden;  margin-top: -3px;  line-height: 18px; font-size: 14px;z-index:1;top:0;left:70px}
.wwi-ss-top-panel dd.goods-pic{background-color:#FFF;display:block;width:62px;height:62px;position:absolute;z-index:999;top:0;left:0}
.wwi-ss-top-panel dd.goods-pic a{border:solid 1px #E7E7E7;width:60px;height:60px;display:inline-block}
.wwi-ss-top-panel dd.goods-pic p{background-color:#FFF;display:none;width:100px;height:100px;padding:4px;border:solid 1px #F60;position:absolute;z-index:2;top:-10px;left:58px;box-shadow:2px 2px 0 rgba(0,0,0,.2)}
.wwi-ss-top-panel dd.goods-pic p big{font-size:0;line-height:0;width:0;height:0;display:block;border:4px solid;border-color:transparent #F60 transparent transparent;position:absolute;z-index:2;top:18px;left:-9px}
.wwi-ss-top-panel dd.goods-pic p small{font-size:0;line-height:0;width:0;height:0;display:block;border:4px solid;border-color:transparent #FFF transparent transparent;position:absolute;z-index:2;top:18px;left:-8px}
.wwi-ss-top-panel dd.goods-pic:hover p{display:block}
.wwi-ss-top-panel dd.goods-pic:hover a{border-color:#F60}
.wwi-ss-top-panel dd.price{line-height:16px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:110px;height:16px;position:absolute;z-index:1;top:38px;left:70px;font:700 15px/22px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";color:#ff5370}
.wwi-ss-top-panel dd.price i{ font-size:12px ;}
.wwi-ss-top-panel dd.selled{line-height:16px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:100px;height:16px;position:absolute;z-index:1;top:60px;left:70px;font:12px/18px arial}
.wwi-ss-top-panel dd.selled strong{margin:0 3px;color:#c97;font-weight:700}
.wwi-ss-top-panel dd.collection{line-height:16px;float:left;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:100px;height:16px;position:absolute;z-index:1;top:60px;left:70px;font:12px/18px arial}
.wwi-ss-top-panel dd.collection strong{margin:0 3px}
.wwi-ss-top-bar p { width: 130px;  margin: 10px auto;}
.wwi-ss-top-bar p a { line-height: 38px; color: #333;  text-align: center; width: 128px; height: 38px; border: solid 1px #fafafa;border-radius: 5px; display:inline-block;}
.wwi-ss-top-bar p a:hover { text-decoration: none; color: #777; }




/* ========================================= */
/* 商品列表类页面 -> index.php, goods_list.php */
/* ========================================= */
.wwi-ss-main {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E5FFFFFF', endColorstr='#E5FFFFFF');background:rgba(255,255,255,0.9); width: 958px; float: right;}
.wwi-ss-sidebar {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E5FFFFFF', endColorstr='#E5FFFFFF');background:rgba(255,255,255,0.9); width: 220px; float: left;}
/* 焦点图轮换 */ 
.flex-container a:active, .flexslider a:active { outline: none;}
.slides, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none;} 
.flexslider { width: 990px; clear:both; margin: 0 auto 30px auto; *margin: 0 auto 5px auto; padding: 0;}
.flexslider .slides > li { display: none;}
.flexslider .slides img { max-width: 100%; display: block;}
.flex-pauseplay span { text-transform: capitalize;}
.slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
 html[xmlns] .slides { display: block;} 
* html .slides { height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider { background: #fff; position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li { position: relative;}
.flex-container { zoom: 1; position: relative;}
.flex-direction-nav li a { text-indent: -9999px; background-color: transparent; display: block; width: 36px; height: 36px; padding:0; margin: -8px 0 0 0; position: absolute; top: 45%; cursor: pointer; opacity: 0.3; filter:alpha(opacity=30);}
.flex-direction-nav li a:hover { opacity: 0.9; filter:alpha(opacity=90)}
.flex-direction-nav li a.flex-next { font-size: 0px; line-height: 0; width: 0px; height: 0px; border: 16px solid; border-color: transparent transparent transparent #333; right: 0px;}
.flex-direction-nav li a.flex-prev { font-size: 0px; line-height: 0; width: 0px; height: 0px; border: 16px solid; border-color: transparent #333 transparent transparent; left: 0px;}
.flex-direction-nav li .disabled {opacity: 0.3; filter:alpha(opacity=30); cursor: default;}
.flex-control-nav {width: 100%; position: absolute; bottom: -20px;  *bottom: 5px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 9px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a { width: 10px; height: 10px; line-height: 10px; display: block; background-color: #EEE; cursor: pointer; text-indent: -9999px; border-radius: 5px;}
.flex-control-nav li a:hover { background-color: #FC0;}
.flex-control-nav li a.flex-active { background-color: #F60; cursor: default; box-shadow: 1px 1px 1px #CC3300 inset;}

.wwi-ss-main-container {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E5FFFFFF', endColorstr='#E5FFFFFF');background:rgba(255,255,255,0.9); text-align: center; padding-bottom: 20px; overflow: hidden;}
.wwi-ss-main-container .title { background-color: #FCFCFC; text-align: left; border-color: #D93600 #E7E7E7 #E7E7E7; border-style: solid; border-width: 2px 1px 1px;}
.wwi-ss-main-container .title h4 { font: 14px/20px "Microsoft Yahei"; color: #777777; display: inline-block; *dispaly: inline; padding: 6px 15px 5px; *zoom:1; }
.wwi-ss-main-container .title span { float:right; margin: 4px 12px 0 0; line-height: 24px;}
.wwi-ss-main-container .title span a { color: #999;}
.wwi-ss-main-container .content { text-align: left; border-color: #E7E7E7; border-style: solid; border-width: 0 1px 1px;}
/* 商品列表 */
.ncg-list .content { overflow:hidden;  padding-top:10px; padding-bottom:10px; clear:both;}



/* 商品列表 */
.wwi-new-cc ul li{width: 23% !important; margin:1%;}
.wwi-new-cc ul li dl{border:1px solid #E7E7E7 !important;}
.wwi-new-cc ul li dt{width: 240px !important;}
.wwi-new-cc ul li dt a.goods-thumb{width:240px !important; height:240px !important;}
.wwi-new-cc ul li dt a.goods-thumb img { max-width: 240px !important; max-height: 240px !important; margin-top:expression(240-this.height/2) !important; *margin-top:expression(120-this.height/2) /*IE6,7*/ !important;}

.wwi-new-cc ul li dt .goods-thumb-scroll-show li a {width: 40px !important; height: 40px !important;}
.wwi-new-cc ul li dt .goods-thumb-scroll-show li a img { max-width: 40px !important; max-height: 40px !important; margin-top:expression(40-this.height/2) !important; *margin-top:expression(20-this.height/2)/*IE6,7*/ !important;}
.wwi-new-cc ul li dt .goods-thumb-scroll-show li { width: 40px !important; height: 40px !important;}
.wwi-new-cc ul li dd { width: 240px !important;}

.wwi-ss-goods-list { overflow:hidden;}
.wwi-ss-goods-list ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-right: -1px; margin-bottom: -1px;}
.wwi-ss-goods-list ul li { font-size: 12px; color: #666; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block;  *display: inline/*IE7*/; width: 25%; *zoom:1;}
.wwi-ss-goods-list ul li dl { border: solid #E7E7E7; border-width: 0 1px 1px 0; padding: 9px; position: relative; z-index: 1;}
.wwi-ss-goods-list ul li dt { width: 160px; margin: 5px auto;}
.wwi-ss-goods-list ul li dt a.goods-thumb { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 160px; height: 160px; overflow: hidden;}
.wwi-ss-goods-list ul li dt a.goods-thumb img { max-width: 160px; max-height: 160px; margin-top:expression(160-this.height/2); *margin-top:expression(80-this.height/2)/*IE6,7*/;}
.wwi-ss-goods-list ul li dt .goods-thumb-scroll-show { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-top: 5px;}
.wwi-ss-goods-list ul li dt .goods-thumb-scroll-show li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *dispaly: inline; width: 24px ; height: 24px; padding: 1px; border: solid 1px #F5F5F5; margin-right: 4px;}
.wwi-ss-goods-list ul li dt .goods-thumb-scroll-show li.selected { border-color: #D93600;}
.wwi-ss-goods-list ul li dt .goods-thumb-scroll-show li a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 24px; height: 24px; overflow: hidden;}
.wwi-ss-goods-list ul li dt .goods-thumb-scroll-show li a img { max-width: 24px; max-height: 24px; margin-top:expression(24-this.height/2); *margin-top:expression(12-this.height/2)/*IE6,7*/;}
.wwi-ss-goods-list ul li dd { width: 160px; margin: 0 auto;}
.wwi-ss-goods-list ul li dd.goods-name { line-height: 16px; display: block; height: 32px; overflow: hidden; margin-bottom: 5px;}
.wwi-ss-goods-list ul li dd.goods-info { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.wwi-ss-goods-list ul li dd.goods-info span { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *dispaly: inline; width: 50%; *zoom: 1;}
.wwi-ss-goods-list ul li dd.goods-promotion { font: 700 12px/15px "microsoft yahei"; background: url("../images/2014mall_background_img.png") no-repeat scroll 0 -100px rgba(0, 0, 0, 0); color: #FFFFFF; height: 30px; text-align: center; padding: 20px 9px 15px; width: 30px !important;  z-index: 2; position: absolute; right: 5px; top: 5px;}

.wwi-ss-all-goods-list { overflow:hidden;}
.wwi-ss-all-goods-list ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-right: -1px; margin-bottom: -1px;}
.wwi-ss-all-goods-list ul li { font-size: 12px; color: #666; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block;  *display: inline/*IE7*/; width: 25%; *zoom:1;}
.wwi-ss-all-goods-list ul li dl { border: solid #E7E7E7; border-width: 0 1px 1px 0; padding: 9px; position: relative; z-index: 1;}
.wwi-ss-all-goods-list ul li dt { width: 200px; margin: 10px auto;}
.wwi-ss-all-goods-list ul li dt a.goods-thumb { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 200px; height: 200px; overflow: hidden;}
.wwi-ss-all-goods-list ul li dt a.goods-thumb img { max-width: 200px; max-height: 200px; margin-top:expression(200-this.height/2); *margin-top:expression(100-this.height/2)/*IE6,7*/;}
.wwi-ss-all-goods-list ul li dt .goods-thumb-scroll-show { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-top: 5px;}
.wwi-ss-all-goods-list ul li dt .goods-thumb-scroll-show li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *dispaly: inline; width: 32px; height: 32px; padding: 1px; border: solid 1px #F5F5F5; margin-right: 4px;}
.wwi-ss-all-goods-list ul li dt .goods-thumb-scroll-show li.selected { border-color: #D93600;}
.wwi-ss-all-goods-list ul li dt .goods-thumb-scroll-show li a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 32px; height: 32px; overflow: hidden;}
.wwi-ss-all-goods-list ul li dt .goods-thumb-scroll-show li a img { max-width: 32px; max-height: 32px; margin-top:expression(32-this.height/2); *margin-top:expression(32-this.height/2)/*IE6,7*/;}
.wwi-ss-all-goods-list ul li dd { width: 220px; margin: 0 auto;}
.wwi-ss-all-goods-list ul li dd.goods-name { line-height: 16px; display: block; height: 32px; overflow: hidden; margin-bottom: 5px;}
.wwi-ss-all-goods-list ul li dd.goods-info { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.wwi-ss-all-goods-list ul li dd.goods-info span { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *dispaly: inline; width: 50%; *zoom: 1;}
.wwi-ss-all-goods-list ul li dd.goods-promotion { font: 700 12px/15px "microsoft yahei"; background: url("../images/2014mall_background_img.png") no-repeat scroll 0 -100px rgba(0, 0, 0, 0); color: #FFFFFF; height: 30px; text-align: center; padding: 20px 9px 15px; width: 30px;  z-index: 2; position: absolute; right: 5px; top: 5px;}

.wwi-ss-article { width: 100%;}

/* 列表排序 */
.wwi-ss-goodslist-bar { background: #F7F7F7; border-bottom: solid 1px #D8D8D8; overflow: hidden;}
.wwi-ss-array { display:block; float:left; padding:6px 8px 6px 4px; margin-left:24px; _margin-left:12px/* IE6 */; }
.wwi-ss-array li { display: inline-block; margin: 0 1px;}
.wwi-ss-array li { *display:inline/* IE7*/; _float:left;}
.wwi-ss-array li a { line-height:17px; color:#555; background:url(../images/nc_sortbar.gif) no-repeat scroll 32px -76px; display:inline-block; width:28px; padding:0 14px 0 4px;}
.wwi-ss-array li a { *display:inline/* IE7 */;}
.wwi-ss-array li a.nobg, .sort-bar .array li.selected a.nobg { background:none; padding:0 4px !important;}
.wwi-ss-array li.selected a { font-weight:700; color:#F60;}
.wwi-ss-array li.selected a.asc { background-position:32px -96px;}
.wwi-ss-array li.selected a.desc { background-position:32px -116px;}

.price-search { display: block; float: left; margin-top: 4px; margin-left:24px; _margin-left:12px/* IE6 */;}
.price-search i { display: inline-block; padding: 0 6px;}
.price-search a { border: solid 1px #F60; text-decoration:none; border-radius: 4px; background-color:#F90; color:#FFF; padding:2px 6px; line-height:14px; text-shadow: 1px 1px 0 rgba(255,110,0,.8); box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1); -moz-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1); -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1); margin-left: 8px;}
.price-search a:hover { background-color: #FC0; color:#FFF;}


/* 侧边栏店铺分类控制标签 */
.ico-none, .ico-block, .ico-sub { color:#FFF; background-color: #FFD379; border: solid 1px #FFB417; box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1);}


/* ========================================= */
/* 店铺动态页面 -> store_snshome.php           */
/* ========================================= */
.tzx-sns { font-size: 0; background-color: #EEE; *word-spacing:-1px/*IE6、7*/; width: 960px; padding: 20px; margin: 10px auto; overflow: hidden;}
.tzx-sns-left,
.tzx-sns-right {vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE6、7*/;  *zoom:1/*IE6、7*/;}
.tzx-sns-left { background-color: #FFF;  width: 710px; border: solid 1px #DDD; border-radius: 5px;}
.tzx-sns-tabmene ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; border-bottom: solid 1px #DDD;}
.tzx-sns-tabmene ul li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE6、7*/;  *zoom:1/*IE6、7*/;}
.tzx-sns-tabmene ul li a { line-height: 20px; display: block; height: 20px; padding: 10px 20px; position: relative; z-index: 1;}
.tzx-sns-tabmene ul li a i { background: url(../images/mall/2014_ncs_public_img.png) no-repeat -80px -70px; display: none; width: 15px; height: 8px; margin-left: -7px; position: absolute; z-index: 1; top: 33px; left: 50%; }
.tzx-sns-tabmene ul li a.selected { font-weight: 600;}
.tzx-sns-tabmene ul li a.selected i { display: block;}
.tzx-sns-content {}
.tzx-sns-content .null { font-size: 12px; display: block; text-align: center; color: #999; padding: 150px 0;}
.tzx-sns-content-list {}
.tzx-sns-content-list li { padding: 20px; border-bottom: solid 1px #F5F5F5;}
.tzx-sns-content dl { font-size: 12px;}
.tzx-sns-content dt { margin-bottom: 10px;}
.tzx-sns-content dt h5 { font-size: 14px; display: inline-block; *display: inline/*IE7*/;}
.tzx-sns-content dt h5 img { vertical-align: middle; }
.tzx-sns-content dt .fd-handle { background-color: #FFF; border: solid 1px #CCC; padding: 1px 6px;.tzx-sns-content display: none; float: right;}
.tzx-sns-content dt .fd-handle i { font-size: 14px; margin-right: 4px; vertical-align: middle;}
.tzx-sns-content-list li:hover .fd-handle { display: block;}
.tzx-sns-content .fd-media { font-size: 0; *word-spacing:-1px/*IE6、7*/; background-color: #FBFBFB; padding: 9px; border: solid 1px #F5F5F5;}
.tzx-sns-content .fd-media .thumb-image,
.tzx-sns-content .fd-media .goodsimg,
.tzx-sns-content .fd-media .goodsinfo { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE6、7*/;  *zoom:1/*IE6、7*/;}
.tzx-sns-content .fd-media .goodsimg,
.tzx-sns-content .fd-media .thumb-image { background-color: #FEFEFE; width: 120px; height: 120px;}
.tzx-sns-content .fd-media .goodsimg a,
.tzx-sns-content .fd-media .thumb-image a { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 120px; height: 120px; overflow: hidden;}
.tzx-sns-content .fd-media .goodsimg a img,
.tzx-sns-content .fd-media .thumb-image a img { max-width: 120px; max-height: 120px; margin-top:expression(120-this.height/2); *margin-top:expression(60-this.height/2)/*IE6,7*/;}
.tzx-sns-content .fd-media .goodsinfo { margin-left: 10px;}
.tzx-sns-content .fd-media .goodsinfo dl { width: 480px;}
.tzx-sns-content .fd-media .goodsinfo dt { font-size: 14px; white-space: normal; display: block; margin-bottom: 5px;}
.tzx-sns-content .fd-media .goodsinfo i { font-size: 12px; line-height: 16px; color:#FFF; display:inline-block; height: 16px; padding: 1px 4px; margin-right:10px; border:solid 1px; border-radius: 2px; box-shadow: inset 1px 1px 0 rgba(255,255,255,0.25); text-shadow: 1px 1px 0 rgba(0,0,0,0.25); -webkit-text-size-adjust:none;}
i.desc-type-new { background-color:#DE4B82; border-color:#9A2D56!important;} /*新品*/
i.desc-type-coupon { background-color:#F38419; border-color:#C35B14!important;} /*优惠券*/
i.desc-type-xianshi { background-color:#3BCFFD; border-color:#2FAAD4!important;} /*限时折扣*/
i.desc-type-mansong  { background-color:#4C6293; border-color:#364A6F!important;}/*满即送*/
i.desc-type-bundling { background-color:#44783A; border-color:#2C4B21!important;} /*组合销售*/
i.desc-type-groupbuy { background-color:#7C7C7E; border-color:#3F3D40!important;}/*团购*/
i.desc-type-recommend { background-color:#B22D00; border-color:#660000!important;} /*推荐*/
i.desc-type-hotsell { background-color:#8C008C; border-color:#300040!important;} /*热销*/
.tzx-sns-content .fd-media .goodsinfo dd { display: block;}
.tzx-sns-content .fd-media .goodsinfo dd a { background-color:#FFF; display: inline-block; border: solid 1px #CCC; padding: 4px 14px; margin-top: 5px; box-shadow: 2px 2px 0 rgba(204,204,204,0.5);}

.tzx-sns-right { width: 220px; margin-left: 20px;}
.tzx-sns-right-container { background-color: #FFF; border: solid 1px #DDD; border-radius: 5px; margin-bottom: 10px;}
.tzx-sns-right-container .tzx-store-pic { vertical-align: top; display: inline-block; *display: inline-block/*IE7*/; width: 80px; height: 80px; margin: 9px; *zoom: 1;}
.tzx-sns-right-container .tzx-store-pic a { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 80px; height: 80px; overflow: hidden;}
.tzx-sns-right-container .tzx-store-pic a img { max-width: 80px; max-height: 80px; margin-top:expression(80-this.height/2); *margin-top:expression(40-this.height/2)/*IE6,7*/; }
.tzx-sns-right-container .tzx-store-info { font-size: 12px; vertical-align: top; display: inline-block; *display: inline-block/*IE7*/; width: 100px; margin: 15px 0 0 5px; *zoom: 1;}
.tzx-sns-right-container .tzx-store-info dt { font-size: 14px; font-weight: 600; color: #333; line-height: 18px; height: 36px; overflow: hidden; }
.tzx-sns-right-container .tzx-store-info dd { color: #999;}
.tzx-sns-right-container .tzx-store-info dd em { font-weight: 600; color: #F60;}
.tzx-sns-right-container .tzx-store-favorites { display: block; text-align: center; padding-bottom: 19px;}
.tzx-sns-right-container .tzx-store-favorites a { font: normal 14px/20px "microsoft yahei"; color: #FFF; background-color: #5BB75B; text-align: center; vertical-align: middle; display: inline-block; height: 20px; padding: 7px 25px; border: solid 1px; border-color: #52A452 #52A452 #448944 #52A452; cursor: pointer; text-shadow: 0 -1px 0 rgba(0,0,0,0.10);}
.tzx-sns-right-container .tzx-store-favorites a:hover { text-decoration: none; background-color: #51A351; border-color: #499249 #499249 #3D7A3D #499249;}
.tzx-sns-right-container .tzx-store-favorites a i { font-size: 14px; margin-right: 6px;}
.tzx-sns-right-container .title { font-size: 14px; height: 20px; padding: 9px; border-bottom: solid 1px #DDD;}
.tzx-favorites-user { padding: 9px 9px 0 9px;}
.tzx-favorites-user ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.tzx-favorites-user ul li { background-color: #CCC; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE6、7*/; width: 49px; height: 49px; margin: 0 1px 9px 0; *zoom:1/*IE6、7*/;}
.tzx-favorites-user ul li a { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 49px; height: 49px; overflow: hidden;}
.tzx-favorites-user ul li a img { max-width: 49px; max-height: 49px; margin-top:expression(49-this.height/2); *margin-top:expression(24-this.height/2)/*IE6,7*/; }
/* 表情模块 */

.smilies-module { display:none; border:1px solid #D5E5F5; height:94px; width:224px; position:absolute; z-index:999; background-color:#FFFFFF; padding:6px;
}
.seccode { font-size:12px !important; line-height:26px; background:#FFFFBF; border: solid 1px #DDD; display: none; height:26px; padding:8px; margin: 5px 0; }
.seccode label { color: #555; float:left; }
.seccode input.text { height: 20px !important; line-height:20px; float:left; width:50px;}
.seccode img { float:left; margin:0 6px; _margin:0 3px; cursor: pointer;}
.seccode span { color: #F60;  float:left;}
/* 转播样式 */
/* 动态评论样式 */
.forward-widget, .comment-widget  { font-size:12px; background-color: #FFF; border: solid 1px #D5E5F5; padding: 10px; width: 94%; clear:both; margin: 0 auto; overflow:hidden;}
.forward-widget .forward-edit { }
.forward-widget .forward-add { }
.forward-widget textarea, .comment-widget textarea { font-size: 12px; word-wrap: break-word; width: 98%; height: 40px; border: solid 1px; border-color:#D5E5F5; overflow: auto; resize: none;}
.forward-widget .forward-add .app, .comment-widget .comment-add .app { height:25px padding-bottom: 5px; padding-top: 3px; clear:both;}
.forward-widget .skin-blue, .comment-widget .skin-blue { float: right;}
.forward-widget .skin-blue .btn, .comment-widget .skin-blue .btn { background: none repeat scroll 0 0 transparent; display: inline-block; width: 49px; height:24px; margin:0 0 0 5px; border-radius: 2px;}
.forward-widget span.btn a, .comment-widget span.btn a { font-size: 12px; font-weight: normal; line-height: 24px; color: #000; background: -moz-linear-gradient(center top , #FFFFFF, #E5E5E5) repeat scroll 0 0 transparent; display: block; width: 25px; height: 24px; padding: 0 11px; border: 1px solid #AAAAAA; cursor: pointer;}
.comment-widget .comment-list { margin-top:10px;}
.forward-widget li, .comment-widget li { padding: 7px 7px 2px; margin-top: 5px; border-top: 1px dashed #D5D5D5; overflow: hidden; zoom:1;}
.forward-widget li .clogo, .comment-widget li .clogo { float: left; margin-right: 10px; border: 0 none;}
.forward-widget .forward-list .detail, .comment-widget .comment-list .detail { color: #404040; padding-left: 40px;}
.forward-widget .forward-list .name, .comment-widget .comment-list .name { margin-right: 5px;}
.forward-widget .opt, .comment-widget .opt { float: right;}
.forward-widget .opt a, .comment-widget .opt a { display: inline-block; vertical-align: middle;}
.forward-widget .more, .comment-widget .more { background-image: none; text-align: right; padding: 7px;}
.face { background: url("../images/smile.gif") no-repeat scroll left center transparent; color: #0066CC; line-height: 20px; padding-left: 20px; text-decoration: none;}

/*店铺活动商品规则*/
.wwi-ss-sale-rule { background-color: #FFF; height: 180px; padding: 19px 19px 19px 118px; border: solid 1px #D7D7D7; margin-bottom: 20px; position: relative; z-index: 1;}
.wwi-ss-sale-rule .left { background: #D93600 url(../images/mall/store_sale_rule.jpg) no-repeat scroll 50% 50% ; display: block; float: left; width: 80px; height: 180px; margin-right: 20px; position: absolute; z-index: 1; top: 19px; left: 19px;}
.wwi-ss-sale-rule .mjs-tit { font-size: 16px; font-weight: 600; line-height: 32px; color: #000; border-bottom: solid 1px #E6E6E6;}
.wwi-ss-sale-rule .mjs-tit time { font-size: 12px; color: #999;}
.wwi-ss-sale-rule .mjs-info li { font-size: 14px; line-height: 32px; font-weight: 600; color: #333; margin-top: 8px;}
.wwi-ss-sale-rule .mjs-info li em { color: #D93600; font-weight: 600; margin: 0 4px;}
.wwi-ss-sale-rule .mjs-info img { max-width: 32px; max-height: 32px;}
.wwi-ss-sale-rule .mjs-remark { color: #bdadad; text-align: right; margin-top: 8px;}

.wwi-ss-message-bar .default{padding:9px;border-top:solid 1px #eee;margin-top:-1px}
.wwi-ss-message-bar .default h5{line-height:20px;font-weight:600;display:inline-block; color: #ff5370;}
.wwi-ss-message-bar .default span{color:#555;height:20px}
.wwi-ss-message-bar dl{width:338px;padding:9px;overflow:hidden}
.wwi-ss-message-bar dt{line-height:30px;color:#333;border:1px solid #f5f5f5;padding-left:10px;padding-right:50px;display:block}
.wwi-ss-message-bar dd{color:#555;padding:4px 0!important;width:30%;vertical-align:top!important;letter-spacing:normal!important;word-spacing:normal!important;display:inline-block!important}
.wwi-ss-message-bar dd span{line-height:22px;margin:0 6px 0 0}
.wwi-ss-message-bar dd img{vertical-align:middle}
.wwi-ss-message-bar dd p{line-height:20px}
.wwi-ss-message-bar dl.workingtime dd{width:100%!important}

/*以下为时尚店铺形式*/
.left{ float:left;}
.right{ float:right;}
.wwi_store_head{ height:230px; }
.wrap{ width: 1200px; margin:0 auto;}
.pos_rel { position: relative;}
.wwi_store_head .wrap{ padding-top:76px;}
.doc-info .doc-img{ display: block; margin-left:22px; margin-right:25px; width: 120px; height:120px; border-radius: 50%; overflow: hidden; border: 1px solid #efefef;}
.doc-info .doc-img img{ display: block; width: 120px; height: 120px;}
.doc-info .doc-name{ font-size:23px; margin-bottom: 13px}
.doc-info .doc-name .theV{ display:inline-block; padding:0 21px; margin-left:10px; position:relative; top:-2px; font-size:13px; color:#fff;  line-height:20px; background-position:-700px 0 !important;}
.doc-infoTxt .doc_hos,.doc-infoTxt .doc_major{ line-height: 100%;}
.doc-infoTxt .doc_hos{ padding-bottom: 12px; color: #666;}
.doc-infoTxt .hos_file{ color: #666; padding-bottom: 3px;}
.hos_lev{ margin-top: 12px;}
.doc-infoTxt .hos_file b{ font-weight: normal}
.doc-infoTxt .hos_file span{ color: #999;}
.doc-infoTxt .hos_file .check-adr{ color: #999; padding-left: 26px; background-position: 9px -1057px}
.doc-infoTxt .hos_file .check-adr:hover{ color: #ff5370; padding-left: 26px; background-position: 9px -1082px; cursor: pointer}
.doc-infoTxt .doc_major{ line-height:20px;}
.doc-infoTxt .doc_major span,.doc-infoTxt .doc_major a{ float:left; margin-right: 4px; color: #999;}
.doc-infoTxt .doc_major a{ border: 1px solid #efefef; padding: 0 5px; border-radius: 2px; cursor: default}
.edit_btn{ position: absolute; top:121px; right: 15px; }
.edit_btn span,.edit_btn a{ float: right; margin-left:12px; color: #ff5370; border-radius: 3px; border: 1px solid #ff5370; line-height: 38px; text-align: center; font-size: 15px; transition:all ease 0.2s; -webkit-transition:all ease 0.2s;}
.edit_btn a:hover{ color: #fff; background: #ff5370;}
.edit_btn .ask_doc{ width:158px;}
.edit_btn .collect_doc{  text-align: left; border:none; height: 30px; color: #666; padding: 0 0 0 18px;transition:all ease 0s;-webkit-transition:all ease 0s; }
.edit_btn span.collect_doc{ width:  96px; background:#fff; color:#666; border: 1px solid #999 }
.edit_btn a.collect_doc{ color: #666; cursor: pointer;background:url("../images/docCpr.png") no-repeat scroll 0 12px;}
.edit_btn .collect_doc.collected{ background-position: -84px 12px}
.edit_btn .defalt{ width:126px; }
.edit_btn span{ background:#fff; color:#888; border: 1px solid #999  }
.top_nav .edit_btn .collect_doc{ background-position: 0 8px; width: auto}
.top_nav .edit_btn .collect_doc.collected{ background-position: -84px 8px; width: auto}
.doc_nav{ width: 1150px;}
.doc_nav .doc_nav_list{ font-size: 0; text-align:center; padding: 30px 0; }
.doc_nav .doc_nav_list a,.doc_nav .doc_nav_list span{ display: inline-block; line-height:24px; height: 24px; font-size: 16px; width: 110px; padding-left: 66px; border-right: 1px solid #efefef; color: #333; text-align: left}
.doc_nav .doc_nav_list i{ font-size:14px; color: #aaa; }
.doc-info .doc-name .theV,.doc_nav .doc_nav_list a{background: url(../images/overseas-sprite.png) no-repeat;}
.doc_nav .doc_nav_list .link1{ background-position: 13px -235px;}
.doc_nav .doc_nav_list .link2{ background-position: 13px -275px;}
.doc_nav .doc_nav_list .link6{ background-position: 13px -315px;}
.doc_nav .doc_nav_list .link8{ background-position: 13px -396px; border-right: none}

.doc_nav .doc_nav_list a.now,.doc_nav .doc_nav_list a:hover{ color: #ff5370}
.doc_nav .doc_nav_list a.link1.now,.doc_nav .doc_nav_list a.link1:hover{ background-position: 13px -437px;}
.doc_nav .doc_nav_list a.link2.now,.doc_nav .doc_nav_list a.link2:hover{ background-position: 13px -477px;}
.doc_nav .doc_nav_list a.link6.now,.doc_nav .doc_nav_list a.link6:hover{ background-position: 13px -517px;}
.doc_nav .doc_nav_list a.link8.now,.doc_nav .doc_nav_list a.link8:hover{ background-position: 13px -598px;}

.doc_summary{ font-size:14px; color: #666; line-height: 26px; height: 80px; overflow: hidden; width: 830px; margin: 0 auto 13px; text-align: center; padding: 33px 160px 0; border-top: 1px solid #efefef }
.doc_summary span{ color: #999;font-size:14px; cursor: pointer; padding-right: 13px;}
.doc_summary .open{ background-position: 33px -442px}
.doc_summary .show.blue{ background-position: -20px -442px;}
.doc_summary .close{ background-position: 33px -469px}
.doc_summary .show.blue{ background-position: -20px -469px;}
.doc_summary .show_defalt{ color:#666 }

.part-tit{ position: relative; border-bottom: 2px solid #e4e4e4; margin-bottom: 45px; text-align: center; height: 62px;}
.part-tit span{ font-size: 25px; color: #666; padding: 0 19px; position: relative; top: 40px; background: #fff;}
.part-tit.now span{ color: #ff5370;}
.part-tit span i{ color:#a1a1a1; font-size: 18px; }
.part-tit .selfComit,.edit_info{ display: block; position:absolute; right: 0; top:47px; height: 28px; line-height: 28px; padding: 0 15px; border:1px solid #efefef; border-radius:18px;font-size: 14px; color: #ff5370; background: #fff; transition:all 0.2s linear 0s;}
.part-tit .diary,.edit_info{ color: #666}
.edit_info{ top: 69px}
.part-tit .diary:hover,.edit_info:hover{ border-color: #ff96a6; color:#ff5370;}
.part-tit.now{ margin-top: -26px;}
.check-more{ padding-top: 25px;}
.check-more a{ display: block; line-height: 36px; width:194px; margin: 0 auto; font-size: 14px; color: #999; border: 2px solid #efefef; text-align: center; border-radius: 23px;transition:all 0.2s linear 0s;}
.check-more a:hover{ color: #ff5370; border-color: #ff96a6;}
/*用户口碑*/
.star{ width: 119px; height: 26px; display: inline-block; position: relative; top: 7px; background: #d6d6d6}
.star span{ position: absolute; display: block; left: 0; top: 0; width: 119px; height: 26px; background: url("../images/star.png") no-repeat 0 0; z-index: 2}
.star i{ position: absolute; display: block; left: 0; top: 0; height: 26px; background: #ff9600; z-index: 1}
.star_info{ font-size: 14px; color: #b1b1b1; display: inline-block; height: 26px; line-height: 26px;}
.star_info b{ font-size: 20px; color: #ff9600; font-family: Verdana; font-weight: normal; padding-left: 8px;}
.star_info i{ font-size: 12px; padding-left: 10px;}
.juge_info{ line-height: 26px; text-align: center; margin-top: -10px}
.juge_exp{ color: #b1b1b1; text-align: center; padding: 8px 0 46px; position: relative}
.juge_exp span{ padding-right: 10px; }
.juge_exp i{ font-family: verdana;}
.juge_exp p{ position: absolute; right: 138px; top: -29px; width: 218px; color: #b88c2d; background: #feffd9; padding:11px 16px; border-radius: 2px; text-align: left}
.juge_exp p i{ display: block; width: 10px; height: 17px; position: absolute; left: -10px; top: 50%; margin-top: -9px; background-position: 0 -1110px}

/*boxItem5*/
.boxItem5>div{ width: 1240px; margin-top: -38px}
.boxItem5 a{ float: left; border: 1px solid #e8e8e8; width: 580px; height: 184px; margin: 38px 36px 0 0}
.boxItem5 a:hover{ border-color: #ff9bb3}
.boxItem5 .infoImg1 img{ border: none; max-width: 100%; vertical-align: middle; }
.boxItem5 .infoImg1{ float: left; width: 212px; height: 184px; text-align: center; line-height: 184px; vertical-align: middle; overflow: hidden; }
.boxItem5 .info_cont{ padding: 29px 25px 0 35px; width:307px;}
.boxItem5 .infoImg2,.boxItem5 .infoImg2 img{ display: inline-block; width: 48px; height: 48px; border-radius: 50%;}
.boxItem5 .infoImg2{ border: 2px solid #fff; overflow: hidden}
.boxItem5 .infoImg2.posLeft{ position: absolute; left: -61px; top: -16px}
.boxItem5 .info_tit1{ font-size: 14px; color: #999;}
.boxItem5 .info_tit2{ padding-top: 11px; line-height: 18px; height: 57px; overflow: hidden}
.boxItem5 .info_tit2{ color: #666; font-size: 14px;}
.boxItem5 .info_link{ padding-top: 16px;}
.boxItem5 .info_link span{ color: #999;}
.boxItem5 .info_link .left{ font-size: 0; height: 20px; overflow: hidden; width: 231px;}
.boxItem5 .info_link .left span{ display: inline-block; font-size: 12px; border: 1px solid#efefef; margin-right: 8px; padding: 0 4px }
.boxItem5 .info_link .left i{ font-size: 12px; font-style: normal; color: #999;}
.boxItem5 .info_link .left span:hover{ border-color: #ff5370; color: #ff5370; }
.boxItem5 .info_link .zan{ background-position: 0 -1133px;}
.boxItem5 .info_link .zan:hover{ background-position: 0 -1157px }
.boxItem5 .info_link .right{ padding-left: 20px; color: #999 }
.boxItem5 .info_link .right i{ font-family:Verdana}
.boxItem5 .info_tit1:hover,.boxItem5 .info_tit2:hover,.boxItem5 .info_link .left a:hover{ color: #ff5370; border-color: #ff5370; transition:all 0.3s ease}
.boxItem5 .infoImg2_cont{ height: 52px;}
.boxItem5 .noImg1 .posLeft{ left: 0; top:17px; position: relative; margin-top: -20px}
.boxItem5 .noImg1{ width: 520px; padding-top: 17px;}
.boxItem5 .noImg1 .pos_rel{ height: 46px}

/*用户口碑页*/
.write_com{ display: block; height: 24px; margin:0 auto; padding-left: 32px; font-size: 16px; width: 82px; color: #ff6a80; background-position: 0 -1222px;position: relative; top:-24px;}
.boxItem7{ display: block; padding: 24px; margin-bottom: 24px; border: 1px solid #e8e8e8; width: 524px; position: relative}
.boxItem7:after{display:block; clear:both; content:""; visibility:hidden; height:0; font-size:0;}
.boxItem7{zoom:1}
.boxItem7 .infoImg,.boxItem7 .infoImg img{ display: block; width:50px; height: 50px; border-radius: 50%; }
.boxItem7 .infoImg{ border: 1px solid #dbdbdb; margin-right: 10px; float: left}
.boxItem7 .info_cont{ float: left; width: 456px;}
.boxItem7 .info_tit1{ font-size: 14px; color: #999}
.boxItem7 .info_tit1>i{ color: #b1b1b1;}
.levbox{ position:relative; top:1px; display:inline-block; overflow:hidden; height:15px; width:81px; background:#d7d7d7; margin: 0 10px;}
.levbox.danger{ width:48px;}
.levbox i,.levbox b{ position:absolute; top:0; left:0; display:block; height:15px;}
.levbox i{ position:absolute; display:block; left:0; top:0; height:15px; width:81px; background:url("../images/bntIcon.png") no-repeat -81px -37px; z-index:2}
.levbox.danger i{ width:48px;}
.levbox b{ background:#ffc000; z-index:1}
.boxItem7 .info_tit2{ font-size: 14px; color: #666; line-height: 19px; margin-top: 11px; overflow: hidden; margin-bottom: 11px;}
.boxItem7 .img_cont{ height: 160px; overflow: hidden; margin-bottom: 8px;}
.boxItem7 .img_cont span{ display: block; height: 160px; width: 160px; float: left; margin-right: 14px;}
.boxItem7 .img_cont img{ display: block; width: 160px;}
.boxItem7 .info_tit3{ color: #bbb}
.boxItem7 .info_tit4{ color: #999; width: 261px; height:20px; overflow: hidden; padding-left: 12px; background-position: 0 -597px;}
.boxItem7 .info_tit4 span{ padding-left:6px; }
.boxItem7:hover{ box-shadow:0 0 5px -2px #989898;}
.point{ display: block; position: absolute; height: 16px; width: 31px; background: url("../images/overseas-sprite.png") no-repeat 0 0;}
.boxItem7_l .point{ background-position: 0 -666px; right: -30px}
.boxItem7_l .boxItem7:hover .point{ background-position: 0 -715px;}
.boxItem7_r .point{ background-position: 0 -689px; left: -32px; width: 32px;}
.boxItem7_r .point:hover{ background-position: 0 -740px;}
.mark_cont{ margin-top: 16px; overflow: hidden}
.zan{ background-position: 0 -1133px;}
.zan:hover{  background-position: 0 -1157px }
.reply{ background-position: 0 -1248px;}
.reply:hover{ background-position: 0 -1275px }
.zan,.reply{ padding-left: 20px; transition:background 0.3s ease; color:#999;}
.zan i,.reply i{ font-family:Verdana; color: #bbb;}
.mark_cont .reply{ margin-left: 14px;}
.boxItem7_l{ margin-right: 54px;}
.com_list{ background: url("../images/centerLine.jpg") repeat-y 0 0; padding: 22px 0 54px;}
.com_list>div{ width: 572px;}
.com_list{ margin-bottom: 68px;}