@charset "utf-8";
/* ================================ */
/* 店铺装修相关内容样式 				*/
/* Author:			Hulihutu		*/
/* Copyright:		www.shopwwi.com	*/
/* Create Date:		Apr-14-2014		*/
/* Retrofit Date:	Mar-18-2014		*/
/* ================================ */


.banner-upload-thumb img { max-width: 300px;}
.slide-upload-thumb img { max-width: 300px; max-height: 200px;}
.module-upload-image-preview img { max-width: 300px; max-height: 200px;}

.module-slide-content li { display:block; }

/* 商家中心店铺装页面
-------------------------------------*/
.store-decoration-page .goods-list { filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E5FFFFFF', endColorstr='#E5FFFFFF');background:rgba(255,255,255,0.9); width: 1000px; margin: 0 auto; font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.store-decoration-page .goods-list li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 220px; padding: 15px; *zoom: 1;}
.store-decoration-page .goods-list li:hover { background-color: #FFF;}
.store-decoration-page .goods-thumb { width: 220px; height: 220px; }
.store-decoration-page .goods-thumb a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 220px; height: 220px; overflow: hidden;}
.store-decoration-page .goods-thumb img { max-width: 220px; max-height: 220px; margin-top:expression(220-this.height/2); *margin-top:expression(100-this.height/2)/*IE6,7*/;}
.store-decoration-page .goods-info { width: 220px; text-align: left; margin: 10px auto 0 auto;}
.store-decoration-page .goods-info dt { display: block; line-height: 16px; height: 32px; overflow: hidden;}
.store-decoration-page .goods-info dt a { color: #333;}
.store-decoration-page .goods-info dt a:hover { color: #D93600;}
.store-decoration-page .goods-info dd { font: 600 16px/20px Arial; color: #CC0000; white-space: nowrap; display: block; height: 20px; margin-top: 5px; overflow: hidden;}

.store-decoration-page { width: 100%; border: min-height: 300px; margin-bottom: 10px; }
.store-decoration-block-1 { width: 1000px; margin: 0 auto; position: relative; }
.store-decoration-block-full-width { width: 100%; }


/* 满屏背景切换焦点图
-----------------------------------*/
.full-screen-slides-pagination { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: center; width: 100px; position: absolute; margin-left: -50px; bottom: 10px; left: 50%; }
.full-screen-slides-pagination li { font-size: 12px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#3F000000', endColorstr='#3F000000');background:rgba(0,0,0,0.25); vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; margin-right: 4px; zoom: 1;}
.full-screen-slides-pagination li a { font: 12px/16px Arial; color: #999; text-align: center; display: block; width: 16px; height: 16px; cursor: pointer;}
.full-screen-slides-pagination li a:hover { text-decoration: none;}
.full-screen-slides-pagination .current { background-color: #F30;}
.full-screen-slides-pagination .current a { color: #FFF;}