@charset "utf-8";
em {font-style: normal;}

.banner{width:100%; height:655px; position:relative; z-index:2; font-family:"Microsoft Yahei";}
.bannerImg{ width:100%; height:451px; overflow:hidden; position:relative; z-index: 0; }
.bannerImg li{ position:absolute; left:0; top:0; height:451px; width:100%; overflow:hidden; display:none}
.bannerImg li img{ -moz-user-select:none; position:absolute; width:789px; height:451px; left:50%; margin-left:-409px; top:0;transition:all 4s linear 0s; transform:scale(1.1);}
.bannerImg li img.now{transform:scale(1.01)}

.tabIcon,.btnItem1 li i,.btnItem1 li span,.otherPart .item1,.sale .eng,.tabList span i,.marks,.boxItem6 .litIcon,.leftNav li a,.boxItem1 .greyBox,.boxItem1 .remain b,.wwi-prev,.wwi-next,.prev2,.next2,.prev3,.next3,.checkMore,.tabIcon span{ background:url(../images/mainIndex.png) no-repeat;}

.wwi-prev,.wwi-next{ width:35px; height:67px; position:absolute; top:220px; margin-top:-34px; cursor:pointer; display:none}
.wwi-prev{ left:50%; margin-left:-410px; background-position:0 -1187px}
.wwi-next{ right:50%; margin-right:-380px; background-position:-68px -1187px;}
.wwi-prev:hover{ background-position:-182px -1187px}
.wwi-next:hover{ background-position:-252px -1187px;}

.tabIcon{ position:absolute; left:48%; top:420px; padding:7px 10px;background: rgba(255,255,255,.3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4dffffff', endColorstr='#4dffffff');border-radius:12px}
.tabIcon span{ display:block; float:left; width:10px; height:10px; border-radius:50%; background-position:-2px -1388px; margin-left:4px; cursor:pointer}
.tabIcon .now{ background-position:-24px -1388px}
/*专题*/
.topics{ width:1216px; padding-bottom:10px; padding-bottom:64px;}
.boxItem8{ display:block; border:1px solid #efefef; margin-right:9px; padding:14px; float:left; margin-top:2px; cursor:pointer}
.boxItem8:hover{ box-shadow:0 0 8px 0 #bbb;}
.boxItem8 .info_img{ width:160px; height:100px; overflow:hidden; float:left; margin-right:14px;}
.boxItem8 .info_img img{ display:block; width:100%; height:100px ;}
.boxItem8 .infoTxt{ width:189px; float:left}
.boxItem8 .infoTxt .info_tit1{ font-size:14px; line-height:16px; height:32px; overflow:hidden}
.boxItem8 .infoTxt .info_tit1:hover{ color:#ff5370;}
.boxItem8 .infoTxt .info_tit2{ font-size:12px; color:#999;height:30px; line-height:15px; padding-top:8px; margin-bottom:11px; overflow:hidden}
.boxItem8 .infoTxt .info_tit3{ font-size:12px; color:#cdcdcd;}

.topicsTit.partTit { height:73px;}
.topicsTit.partTit p{ margin-top:-20px;}
.partTit {  width: 1200px;  margin: 0 auto 5px auto;  height: 73px;  padding-bottom: 47px;  overflow: hidden;   position: relative; text-align: center;}
.partTit p{ height:73px;border-bottom:1px solid #efefef; position:relative; text-align:center}
.partTit p span{ display:block; width:250px; height:113px; background-color:#fff; margin:0 auto}
.partTit .ft31{ font-size:32px; display:block; padding-top:36px;line-height: 32px; text-align:center}
.partTit .ft31 > a { color: #333;}
.pink{ color:#ff5370}
.partTit .eng{ color:#b4b4b4; font-size:16px; font-family:Arial;}

.fastZT{ position:absolute; right:0; top:0;width:220px; height:451px;    background: rgba(0,0,0,0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);}
.fastZT1{ right:50%; margin-right:-600px; z-index: 10; }
.fastZT .topbox{background: #fff;border-top: 2px solid #ff6980; margin-top:30px;}
.fastZT .topbox .tabCont a{line-height:30px ;}
.fastZT .topbox .tabCont a.now{background: #ff6980; color:#fff ;}
.fastZT .topbox .hoverCont  .store-join-btn { background: url(../images/home_bg.png) no-repeat 0 -200px; display: block; width: 180px; height: 60px; margin: 50px auto 30px;}
.fastZT .topbox .hoverCont  .store-join-help { color: #999; display: block; text-align: center; padding-bottom: 20px; }
.fastZT .topbox .hoverCont  .store-join-help:hover { text-decoration: none; color: #39C;}
.fastZT .topbox .hoverCont  .store-join-help i { font-size: 14px; margin-right: 4px;}
.fastZT .topbox2{background: #fff;}
.fastZT .topbox2 .featuresList { padding: 5px 5px 0;}
.fastZT .topbox ul { padding: 10px 15px; }
ul.noticeList li { height: 32px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/*限时抢购*/
.boxItem1 ul{ width:1300px; display:none}
.boxItem1 .infoImg,.boxItem1 .infoImg img{ display:block; width:197px; overflow:hidden; position: relative}
.boxItem1 .infoImg .lastDays{ position: absolute; right: 0; top: 0; display: block; width: 25px; height: 52px; color: #fff;background:url(../images/mainIndex.png) no-repeat 0 -1411px; padding: 2px 3px 0 24px; text-align: right; font-size: 10px;}
.boxItem1 .infoImg .lastDays b{ font-weight: normal; -webkit-transform:scale(0.8); display: block}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .boxItem1 .infoImg .lastDays b{ width: 27px}
}
li:hover .infoImg .lastDays{ opacity: 0.8; filter:alpha(opacity=80);}
.boxItem1 li{ float:left; margin-right:33px; border:1px solid #efefef; width:197px; height:268px; position:relative; overflow:hidden}
.boxItem1 li:hover .infoImg img{ opacity:0.5; filter:alpha(opacity=50); transition:0.3s;}
.boxItem1 li:hover .infoTxt{ bottom:0;}
.boxItem1 .infoTxt{ display:block; position:absolute; bottom:-92px; height:186px; width:177px; padding:0 10px; background:#fff; transition:0.3s bottom}
.boxItem1 .remain{ display:block; height:23px; line-height:23px; color:#fff; position:absolute; right:5px; top:-14px; background:#ff9bb3; border-radius:8px; padding:0 8px;}
.boxItem1 .remain b{ display:block; position:absolute; left:0; bottom:-4px; width:9px; height:16px; background-position:0 -1162px}
.boxItem1 .babyInfo{ border-bottom:1px solid #efefef; padding-bottom:18px; margin-bottom:11px;}
.boxItem1 .babyInfo .infoTit1{ font-size:14px; height:37px; line-height:18px; overflow:hidden; padding-top:12px; margin-bottom:5px;}
.boxItem1 .babyInfo .infoTit1:hover{ color:#ff6980}
.pink{ color:#ff6980}
.boxItem1 .babyInfo .infoTit2{ position:relative;}
.boxItem1 .babyInfo .infoTit2 del{ color:#b1b1b1; padding-left:5px;}
.boxItem1 .babyInfo .infoTit2 i{ font-size:14px; font-weight:normal}
.boxItem1 .babyInfo .infoTit2 span{ font-size:20px; position:relative; left:-2px;}
.boxItem1 .babyInfo .infoTit2 .zhe{ position:absolute; right:0; top:8px; color:#b1b1b1;}
.boxItem1 .butie,.boxItem2 .butie{ padding-left: 40px; padding-right: 7px; display: inline-block; background: url("../images/mainIndex.png") no-repeat 0 -1478px; height: 16px; border: 1px solid #ff9bb3; line-height: 16px; color: #ff9bb3; font-size: 14px; text-align: center; font-weight: normal; font-family: Arial; border-radius: 1px; position: relative; top: -3px; left: 7px}
.butie:after{ content: '补贴'; background: #ff9bb3; color: #fff; width: 34px; height: 18px; font-size: 12px; display: block; position: absolute; left: 0; top:-1px; line-height: 17px;}
.boxItem1 .hosInfo .infoTit1{ color:#999; height:18px; line-height:18px; overflow:hidden; margin-bottom:7px;}
.boxItem1 .hosInfo .wwi-left{ color:#999;}
.boxItem1 .hosInfo .wwi-left i{ display:block}
.boxItem1 .hosInfo .wwi-right{ width:100px; height:34px; line-height:34px; border-radius:3px; background:#ff5502; color:#fff; font-size:14px; text-align:center}
.boxItem1 .tabCont{ padding-bottom:25px;}
.tabCont{ text-align:center; font-size:0;}
.tabCont a{ display:inline-block; font-size:16px; padding:0 6px 7px; margin-right:29px; border-bottom:1px solid #fff; color:#666;}
.tabCont a.now{ color:#ff6980; border-bottom-color:#ff6980;}
/*限时抢购*/
.linkApp{ padding:42px 0 3px; }
.linkApp a,.linkApp img{ display: block;}

/*boxItem2*/
.ft20{ font-size:20px; font-weight: normal}
.boxItem2 .tabCont{ padding-bottom:14px; position:relative; left:1px; background:#fff;}
.boxItem2{border-right:1px solid #efefef;border-bottom:1px solid #efefef; margin-bottom:7px}
.boxItem2 ul{ width:1240px; display:none; margin-top:11px;}
.boxItem2 li{ padding:18px 16px; width:367px; border-left:1px solid #efefef; border-top:1px solid #efefef; float:left}
.boxItem2 li>a{ display:block}
.boxItem2 li:hover{ box-shadow:0 0 8px 0 #bbb;}
.boxItem2 li .wwi-right{ width:189px; height: 140px; position: relative}
.boxItem2 .infoImg,.boxItem2 .infoImg img{ display:block; width:150px; height:140px;}
.boxItem2 .infoItem1{ padding-left:22px; font-size:14px;}
.boxItem2 .newTit{ background-position:0 -583px; color:#ff92b9;}
.boxItem2 .hotTit{ background-position:0 -615px; color:#ffb14d;}
.boxItem2 .infoItem2{ padding-top:7px; font-size:16px; display:block; max-height:42px; overflow:hidden; color:#333;}
.boxItem2 .infoItem2:hover{ color:#ff6980;}
.boxItem2 .infoItem3{ padding-top:9px; line-height:16px; max-height:34px; overflow:hidden; color: #feb946; position: relative; text-indent: 22px; height: 17px}
.boxItem2 .infoItem3.c999{text-indent: 0; color: #999}
.boxItem2 .infoItem3 i{ display:block; position: absolute; left: 0; top: 9px; width: 22px; height: 15px; background: url("../images/mainIndex.png") no-repeat 0 -1527px;}
.boxItem2 .price{ text-indent:-3px; position: absolute; bottom: 0; left: 0; font-size: 0}
.boxItem2 .price .ft18{ font-size: 14px; padding-right: 2px;}
.boxItem2 .price del{ color:#b1b1b1; padding-left:10px;}
.boxItem2 .price .ft12{ font-size: 12px; color:  #b1b1b1; font-weight: normal; padding-left: 4px;}
.boxItem2 .price .ft12.c999{ padding-left: 6px;}
.boxItem2 .infoItem4{ color:#bbb;}
.boxItem2 .butie,.boxItem5 .butie{ padding-left: 40px; padding-right: 7px; display: inline-block;  height: 16px; border: 1px solid #ff9bb3; line-height: 16px; color: #ff9bb3; font-size: 14px; text-align: center; font-weight: normal; font-family: Arial; border-radius: 1px; position: relative; top: -3px; left: 7px}
.butie:after{ content: '评分'; background: #ff9bb3; color: #fff; width: 34px; height: 18px; font-size: 12px; display: block; position: absolute; left: 0; top:-1px; line-height: 17px;}


/*boxItem5*/
.boxItem5{ width:320px; border:1px solid #efefef; border-right:none; height:317px; border-bottom: none}
.boxItem5:hover{ box-shadow:0 0 6px 0px #bbb; border-color:#ddd}
.boxItem5 .infoImg,.boxItem5 .infoImg img{ display:block; width:320px; height:218px;}
.boxItem5 .infoTit1,.boxItem5 .infoTit2{ padding:0 14px;}
.boxItem5 .infoTit1{ padding-top:12px; font-size:14px; display:block; height:21px; overflow:hidden; color:#333;}
.boxItem5 .infoTit1 .wwi-right{ color:#ff6980; font-size:18px; position:relative; top:-8px;}
.boxItem5 .infoTit1 .wwi-right em{ font-size:24px;}
.boxItem5 .infoTit1 .wwi-left:hover{ color:#ff6980}
.boxItem5 .infoTit1 .wwi-left,.boxItem5 .infoTit2 .wwi-left{ float: none; display: block}
.boxItem5 .infoTit2{ color:#999; overflow:hidden; margin-bottom:3px;}
.boxItem5 .infoTit1 .wwi-left,.boxItem5 .infoTit2 .wwi-left{ max-width:210px; height:18px; overflow:hidden;}
.boxItem5 .infoIit3 .wwi-left{ float: left; height: auto; overflow: visible; font-size: 24px; color: #ff6980;}
.boxItem5 .infoIit3 .wwi-left i{ font-size: 16px;}
.boxItem5 .infoIit3 .wwi-left del{ font-size: 12px; color: #999;}
.boxItem5 .infoTit1 .wwi-left{ max-width:190px; color:#333; cursor:pointer}
.boxItem5 .infoTit2 .pink{ color:#ff9ca5; padding-left:6px;}
.boxItem5 .infoIit3 .wwi-right{ color:#ccc; line-height: 35px; height: 26px}
.boxItem2-1 .infoImg, .boxItem2-1 .infoImg img{ width:100px; height:100px;}
.boxItem2-1 li .wwi-right{ width:149px; height: 100px;}
.boxItem2-1 li{ padding:30px 14px 28px; width:263px; height:100px;}
.boxItem2-1 .infoItem2{ padding-top:0; font-size:14px; max-height:36px;}
.boxItem2-1 .price{ padding-top:9px;}
.boxItem2-1 .infoItem4 .wwi-right{ width:auto}
.boxItem2-1 .pink{ color:#ff6980; padding-left:6px; height: 30px}
.boxItem2-1 .pink .ft14{ font-size: 16px;}
.boxItem2-1 .pink .ft20{ font-size: 24px; font-weight: normal}

.groupbuy ul li {  float: left;}
.groupbuy { background-color: transparent; position: relative; z-index: 1; overflow: hidden;}
.groupbuy ul { float: left; clear: both; position: absolute; z-index:1;}
.groupbuy ul li { float: left; }
.groupbuy .pagination { display: none;}
.groupbuy .arrow { background: url(../images/home_bg.png) no-repeat; width: 19px; height: 29px; position: absolute; z-index: 2; top: 150px; cursor: pointer;}
.groupbuy:hover .arrow { opacity: 0.5!important;}
.groupbuy .arrow:hover { opacity: 0.8!important;}
.groupbuy .pre { background-position: -160px -40px; left: 0;}
.groupbuy .next { background-position: -180px -40px; right:0;}

/*限时抢购 同全国页*/
.boxItem1_index ul{ width:1300px; display:none}
.boxItem1_index .infoImg,.boxItem1_index .infoImg img{ display:block; width:211px; overflow:hidden; position: relative}
.boxItem1_index .infoImg .lastDays{ position: absolute; right: 0; top: 0; display: block; width: 25px; height: 52px; color: #fff;background:url(../images/mainIndex.png) no-repeat 0 -1411px; padding: 2px 3px 0 24px; text-align: right; font-size: 10px;}
.boxItem1_index .infoImg .lastDays b{ font-weight: normal; -webkit-transform:scale(0.8); display: block}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .boxItem1_index .infoImg .lastDays b{ width: 27px}
}
li:hover .infoImg .lastDays{ opacity: 0.8; filter:alpha(opacity=80);}
.boxItem1_index li{ width: 387px;  padding-right: 18px;   padding-top: 20px;   float: left;}
.boxItem1_index li .act-img-wrap { position: relative;}
.boxItem1_index li .act-img-wrap a img {  display: block;  height: 194px;   width: 387px;}
.boxItem1_index li .countdown-tag {  padding-left: 30px;  background: url(../images/tick_bg.png) repeat-x; position: absolute;  left: 0px;  top: 10px;   height: 23px;}
.boxItem1_index li .countdown-tag .tick-logo {  display: block;  width: 14px;  height: 14px;  position: absolute;  top: 50%;  left: 10px;  background: url(../images/tick.png) no-repeat center center;  background-size: 14px 14px;  margin-top: -7px;}
.boxItem1_index li .countdown-tag p {  font-size: 12px;  line-height: 23px;   color: #fff;}
.boxItem1_index li .act-detail-wrap{  width: 385px;  height: 64px;  background: #fff; border:1px solid #efefef ; border-top: 0;  position: relative;}
.boxItem1_index li .arrow-circle { position: absolute; height: 23px; width: 14px; background: url(../images/arrowcircle.png) no-repeat;  background-size: 14px 100%;  right: -14px;  top: 0;}
.boxItem1_index li .act-detail-wrap .inner{  height: 19px;  width: 100%; position: absolute;  top: 50%;  margin-top: -10px; font-size: 0;}
.boxItem1_index li .act-detail-wrap .inner h3{  display: inline-block;  vertical-align: middle; line-height: 19px;  font-size: 16px;  padding-left: 18px;  border-left: 1px solid #cccccc;  font-weight: normal;}
.boxItem1_index li .act-detail-wrap img{ display: inline-block;  width: 81px;  height: 19px;}
.boxItem1_index li .act-detail-wrap .discount{ line-height: 19px; float: right; color: #e11644; font-size: 14px; margin-right: 20px;}
.boxItem1_index li:hover .infoImg img{ opacity:0.5; filter:alpha(opacity=50); transition:0.3s;}
.boxItem1_index li:hover .infoTxt{ bottom:0;}
.boxItem1_index .infoTxt{ display:block; position:absolute; bottom:-92px; height:186px; width:191px; padding:0 10px; background:#fff; transition:0.3s bottom}
.boxItem1_index .remain{ display:block; height:23px; line-height:23px; color:#fff; position:absolute; right:5px; top:-14px; background:#ff9bb3; border-radius:8px; padding:0 8px;}
.boxItem1_index .remain b{ display:block; position:absolute; left:0; bottom:-4px; width:9px; height:16px; background-position:0 -1162px}
.boxItem1_index .babyInfo{ border-bottom:1px solid #efefef; padding-bottom:18px; margin-bottom:11px;}
.boxItem1_index .babyInfo .infoTit1{ font-size:14px; height:37px; line-height:18px; overflow:hidden; padding-top:12px; margin-bottom:5px;}
.boxItem1_index .babyInfo .infoTit1:hover{ color:#ff6980}
.pink{ color:#ff6980}
.boxItem1_index .babyInfo .infoTit2{ position:relative;}
.boxItem1_index .babyInfo .infoTit2 del{ color:#b1b1b1; padding-left:5px;}
.boxItem1_index .babyInfo .infoTit2 i{ font-size:14px; font-weight:normal}
.boxItem1_index .babyInfo .infoTit2 span{ font-size:20px;position:relative; left:-2px;}
.boxItem1_index .babyInfo .infoTit2 .zhe{ position:absolute; right:0; top:8px; color:#b1b1b1;}
.boxItem1_index .butie{ padding-left: 40px; padding-right: 7px; display: inline-block; background: url("../images/mainIndex.png") no-repeat 0 -1478px; height: 16px; border: 1px solid #ff9bb3; line-height: 16px; color: #ff9bb3; font-size: 14px; text-align: center; font-weight: normal; font-family: Arial; border-radius: 1px; position: relative; top: -3px; left: 7px}
.boxItem1_index .hosInfo .infoTit1{ color:#999; height:18px; line-height:18px; overflow:hidden; margin-bottom:7px;}
.boxItem1_index .hosInfo .wwi-left{ color:#999;}
.boxItem1_index .hosInfo .wwi-left i{ display:block}
.boxItem1_index .hosInfo .wwi-right{ width:100px; height:34px; line-height:34px; border-radius:3px; background:#ff5502; color:#fff; font-size:14px; text-align:center}
.boxItem1_index .tabCont{ padding-bottom:25px;}
.tabCont{ text-align:center; font-size:0;}
.tabCont a{ display:inline-block; font-size:16px; padding:0 6px 7px; margin-right:29px; border-bottom:1px solid #fff; color:#666;}
.tabCont a.now{ color:#ff6980; border-bottom-color:#ff6980;}

/* 三联切换焦点图 */
.jfocus-trigeminy { width: 1200px; height: 184px; margin-left: -600px; clear: both; position: absolute; z-index: 2; top: 470px; left: 50%; overflow: hidden;}
.jfocus-trigeminy ul { background-color: #FFF; width: auto; height: 184px; position: absolute; z-index: 1; overflow: hidden;}
.jfocus-trigeminy ul li { width: 1213px; height: 184px; float: left; margin-left: -13px; }
.jfocus-trigeminy ul li a { display: block; width: 290px; height: 184px; margin-left:13px;float: left;}
.jfocus-trigeminy ul li a img { max-width: 290px; max-height: 184px;}
.jfocus-trigeminy .arrow { background: url(../images/home_bg.png) no-repeat; width: 45px; height: 100px; position: absolute; z-index: 2; top: 40px; cursor: pointer; }
.jfocus-trigeminy:hover .arrow { opacity: 0.3!important;}
.jfocus-trigeminy .arrow:hover { opacity: 0.8!important;}
.jfocus-trigeminy .pre { background-position: 0 -100px; left: 0;}
.jfocus-trigeminy .next { background-position: -45px -100px; right: 0;}
.jfocus-trigeminy .pagination{ display: none;}

/*boxItem4*/
.boxItem4{ position:relative}
.hotCont{ height:469px; width:949px; position:relative;border-bottom:1px solid #efefef; display:none}
.hotTab{ position:absolute; left:249px; top:0; z-index:10}
.hotTab span{ float:left; width:350px; line-height:43px; text-align:center; font-size:14px; color:#666; border:1px solid #efefef; border-left:none; cursor:pointer}
.hotTab span.now{ color:#ff6890; border-top-color:#ff6890; border-bottom-color:#fff;}
.hotTab span:last-child{ border-right:none !important;}
.hotCont .items{ padding-top:87px; overflow:hidden; width:700px; position:absolute; left:249px;}
.hotCont .hosItem a{ float:left; margin-left:25px; margin-bottom:35px; border:1px solid #efefef;height:90px; overflow:hidden}
.hotCont .hosItem .showItem{ display:none}
.hotCont .hosItem a{ display:block;  width:140px;}
.hotCont .hosItem img{vertical-align:middle;width:82%;height:50px;margin:21px auto;display:block;text-align:center;line-height:92px;background-color:#fff}
.focusImg,.focusImg .inner a,.focusImg .inner img{ width:248px; height:468px;-moz-user-select:none;}
.focusImg{ float:left; position:relative; overflow:hidden; border:1px solid #efefef;}
.focusImg .inner.wwi-new-slider{position:absolute;width:248px;height:468px;top:0;left:0;overflow:hidden;}
.focusImg .inner.wwi-new-slider ul{height:468px;position:absolute;overflow:hidden}
.focusImg .inner.wwi-new-slider li{width:248px;height:468px;background:#fff;float:left}
.focusImg .inner.wwi-new-slider li img{display:block;width:248px;height:468px}
.focusImg .inner.wwi-new-slider .pagination { position: absolute; top: 445px; height: 12px; text-align: center;left: 48%; font-size: 0;padding: 5px 6px 5px 2px; background: rgba(255,255,255,0.8);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF); border-radius: 8px;}
.focusImg .inner.wwi-new-slider .pagination span { display: inline-block;  margin-left: 4px; width: 8px; height: 8px; background-color: #FFF; opacity: .6;  border-radius: 4px;   background: #fa4b4b;}
.focusImg .inner.wwi-new-slider .arrow { background:url(../images/mainIndex.png) no-repeat; width: 35px; height: 67px; position: absolute; z-index: 2; top: 210px; cursor: pointer;}
.focusImg .inner.wwi-new-slider:hover .arrow { opacity: 0.5!important;}
.focusImg .inner.wwi-new-slider .arrow:hover { opacity: 0.8!important;}
.focusImg .inner.wwi-new-slider .pre { background-position: 0 -1187px; left: 0;}
.focusImg .inner.wwi-new-slider .next { background-position: -68px -1187px; right:0;}


.prev2,.next2,.prev3,.next3{ width:29px; height:52px; position:absolute; top:50%; margin-top:-13px; cursor:pointer; display:none}
.prev2,.prev3{ left:0; background-position:-186px -1277px}
.prev2:hover,.prev3:hover{ background-position:0 -1277px}
.next2,.next3{ right:0; background-position:-258px -1277px}
.next2:hover,.next3:hover{background-position:-81px -1277px}
.prev2.nohover:hover,.prev3.nohover:hover{background-position:-186px -1277px}
.next2.nohover:hover,.next3.nohover:hover{background-position:-258px -1277px}
.checkMore{ position:absolute; right:25px; top:60px; color:#999; padding-left:20px;background-position:0 -1347px; cursor:pointer; z-index:10;-moz-user-select:none;}
.checkMore:hover{ background-position:-106px -1347px;}
.docItem{ height:372px; text-align:center; position:relative; left:-26px;}
.docItem a{ float:left; position:relative; margin:0 0 18px 50px; width:182px; height:181px; border-bottom:1px dashed #efefef;}
.docItem a:after{ content:""; width:1px; height:171px; border-left:1px dashed #efefef; position:absolute; left:-25px; top:0}
.doc-img{ width:100px; margin:0 auto 9px;height:100px; position:relative}
.doc-img span,.doc-img img{ display:block; width:100px; height:100px; border-radius:50%; overflow:hidden; border:1px solid #efefef;}
.doc-img i { background:url("../images/china.png") no-repeat 0 -1033px; bottom: 0; display: block; height:25px; position:absolute; right: 0; width: 25px;}
.docItem .doc-name{ font-size:14px; padding-bottom:1px;}
.docItem .hos-name{ color:#999; padding-bottom:1px;}
.docItem .ordNum{ color:#bbb}
.showItem{ display:none}
.showItem.now{ display:block}

.rank{ width:221px; position:absolute; right:0; top:0; padding:0 14px; border:1px solid #efefef; height:468px;}
.rank-tit{ line-height:43px; font-size:14px; border-bottom:1px solid #efefef;}
.rank-item{ display:block; height:60px; padding-top:14px; margin-bottom:8px;}
.rank-item .babyImg{ float:left; margin-right:14px; width:60px; height:60px; overflow:hidden; position:relative}
.rank-item .babyImg img{ width:60px; height:60px; display:block}
.rank-item .babyImg i{ position:absolute; left:0; top:0; background:#ff6980; color:#fff; display:block; line-height:16px; height:16px; width:16px; text-align:center; border-radius:0 0 8px 0}
.rank-item .babyInfo{ width:147px; float:right}
.rank-item .babyInfo p{ height:33px; overflow:hidden; color:#333; margin:-3px 0 13px;}
.rank-item .babyInfo p:hover{ color:#ff6980;}
.rank-item .babyInfo span{ display:block; overflow:hidden}
.rank-item .babyInfo span .wwi-left{ font-size:16px;}
.rank-item .babyInfo span .wwi-right{ color:#bbb; position:relative; top:4px;}

/*boxItem7*/
.bodyAbout ul{ float:left; width:948px; position:relative; left:21px;}

.bodyParts,.bodyParts .tabCont{ padding-bottom:15px;}
.bodyParts .hoverCont{ margin-top:26px; display:none}
.bodyParts .boxItem1{ width:816px; margin-top: -1px; margin-left: 1px;}
.bodyParts .boxItem1 li{ margin:0 5px 5px 0;}
.boxItem1 .infoTxt.diary{ height:103px; bottom:-45px; padding-top:11px;}
.diary .infoItem2{ display:block; height:19px; overflow:hidden; font-size:14px; color:#333; margin-bottom:7px; text-overflow:ellipsis; white-space:nowrap}
.pro-tiezi li{ height: 220px}
.boxItem1 li:hover .diary .infoItem2{ height:38px;text-overflow:inherit; white-space:normal}
.diary .infoItem2:hover{ color:#ff6980;}
.diary .babyInfo{ border-bottom:none}
.diary .babyInfo p{ height:18px; overflow:hidden;}
.diary .diaryInfo p{ height:36px; overflow:hidden; color:#999}
.diary .babyInfo .wwi-left i{ padding-right:5px;}
.diary .babyInfoName{ color:#bbb; display:none}
.boxItem1 li:hover .diary .babyInfoName{ display:block}
.floor-main{position:relative;height:551px;overflow:hidden}
.floor-main .side{position:relative;float:left;width:389px;height:550px;border-bottom:1px solid #eee;overflow:hidden}
.floor-main .side .side-img img{display:block;width:389px;height:319px}
.floor-main .side .entrances{position:absolute;bottom:230px;width:383px;background-color:#fff;overflow:hidden;opacity:.7;filter:alpha(opacity=70)}
.floor-main .side .entrances li{float:left;padding:7px 0}
.floor-main .side .entrances a{position:relative;float:left;width:85px;height:33px;line-height:33px;margin:0 21px;font-family:'microsoft yahei';overflow:hidden;zoom:1}
.floor-main .side .entrances i{float:left;font-size:20px}
.floor-main .side .hot-word{width:383px;height:124px;border-bottom:1px solid #eee;border-left:1px solid #eee}
.floor-main .hoverCont{display:none;float:left;width:811px;height:551px;margin-top:6px;margin-left:-6px;border-top:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;background:#fff;overflow:hidden}
.floor-main .side .hot-word div{float:left;height:100px;margin:12px 18px;overflow:hidden}
.floor-main .side .hot-word a{display:block;float:left;height:25px;line-height:25px;margin-right:25px;color:#666;font-family:"Microsoft Yahei";overflow:hidden}
.floor-main .side .floor-brand{position: relative; z-index: 1; overflow: hidden;border-left:1px solid #efefef ; height:104px ;} 
.floor-main .side .floor-brand ul {float: left; clear: both;position: absolute; z-index: 1;}
.floor-main .side .floor-brand ul li { float: left; width:350px;padding: 12px 18px;height: 82px;  }
.floor-main .side .floor-brand ul li a{float: left; margin: 5px 8px;}
.floor-main .side .floor-brand ul li a img {width: 100px;height: 30px; transition: all 0.3s ease-out;}
.floor-main .side .floor-brand .pagination { display: none;}
.floor-main .side .floor-brand .arrow { background: url(../images/home_bg.png) no-repeat; width: 19px; height: 29px; position: absolute; z-index: 2; top: 35px; cursor: pointer;}
.floor-main .side .floor-brand:hover .arrow { opacity: 0.5!important;}
.floor-main .side .floor-brand .arrow:hover { opacity: 0.8!important;}
.floor-main .side .floor-brand .pre { background-position: -160px -40px; left: 0;}
.floor-main .side .floor-brand .next { background-position: -180px -40px; right:0;}

/*中部推荐位广告图形式1*/
.floor-main .wwi-new-slider{position:absolute;width:405px;height:291px;top:7px;left:383px;border-bottom:1px solid #eee;background:#fff;overflow:hidden;border-left:1px solid #eee}
.floor-main .wwi-new-slider ul{height:291px;position:absolute;overflow:hidden}
.floor-main .wwi-new-slider li{width:405px;height:291px;background:#fff;float:left}
.floor-main .wwi-new-slider li img{display:block;width:405px;height:291px}
.floor-main .wwi-new-slider .pagination { position: absolute; top: 265px; height: 12px; text-align: center;left: 48%; font-size: 0;padding: 5px 6px 5px 2px; background: rgba(255,255,255,0.8);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF); border-radius: 8px;}
.floor-main .wwi-new-slider .pagination span { display: inline-block;  margin-left: 4px; width: 8px; height: 8px; background-color: #FFF; opacity: .6;  border-radius: 4px;   background: #fa4b4b;}
.floor-main .wwi-new-slider .arrow { background:url(../images/mainIndex.png) no-repeat; width: 35px; height: 67px; position: absolute; z-index: 2; top: 100px; cursor: pointer;}
.floor-main .wwi-new-slider:hover .arrow { opacity: 0.5!important;}
.floor-main .wwi-new-slider .arrow:hover { opacity: 0.8!important;}
.floor-main .wwi-new-slider .pre { background-position: 0 -1187px; left: 0;}
.floor-main .wwi-new-slider .next { background-position: -68px -1187px; right:0;}
.floor-main .hoverCont .wwi-new-col1{position:relative;float:left;border-bottom:1px solid #eee;top:292px;height:252px;width:406px;overflow:hidden;zoom:1}
.floor-main .hoverCont .wwi-new-col1 li{float:left;width:202px;height:251px;border-bottom:1px solid #eee;border-left:1px solid #eee;background:#fff;overflow:hidden}
.floor-main .hoverCont .wwi-new-col1 li img{display:block;width:203px;height:252px}
.floor-main .hoverCont .wwi-new-col2{position:relative;float:left;border-bottom:1px solid #eee;width:405px;height:543px;overflow:hidden;z-index:1}
.floor-main .hoverCont .wwi-new-col2 li { float: left; width: 201px; height: 210px; border-bottom: 1px solid #eee;  border-left: 1px solid #eee;   overflow: hidden;position: absolute; z-index: 1;}
.floor-main .hoverCont .wwi-new-col2 .pic1{ height: 210px;top:0; left: 0;}
.floor-main .hoverCont .wwi-new-col2 .pic2{ height: 332px;top:0; left:202px}
.floor-main .hoverCont .wwi-new-col2 .pic3{ height: 332px; top:211px; left: 0;}
.floor-main .hoverCont .wwi-new-col2 .pic4{ height: 210px;top:333px; left:202px}
.floor-main .hoverCont .wwi-new-col2 .pic1 img,.floor-main .hoverCont .wwi-new-col2 .pic4 img { display: block; width: 200px;  height: 210px;}
.floor-main .hoverCont .wwi-new-col2 .pic2 img,.floor-main .hoverCont .wwi-new-col2 .pic3 img { display: block; width: 200px; height: 332px;}
.bodyParts .partTit{padding-bottom: 25px;}

/*标准区块色彩风格*/
/*红色*/
.bodyParts.red .tabCont a.now{ color:#e90111; border-bottom-color:#e90111;}
.bodyParts.red .floor-main .wwi-new-slider .pagination span { background: #e90111;}
.bodyParts.red .floor-main .hoverCont .wwi-new-col2 .pic1{ width:405px ; height: 145px;top:0; left: 0;}
.bodyParts.red .floor-main .hoverCont .wwi-new-col2 .pic2{  height: 397px;top:146px; left:0}
.bodyParts.red .floor-main .hoverCont .wwi-new-col2 .pic3{ height: 197px; top:146px; left: 202px;}
.bodyParts.red .floor-main .hoverCont .wwi-new-col2 .pic4{ height: 198px;top:345px; left:202px}
.bodyParts.red .floor-main .hoverCont .wwi-new-col2 .pic1 img { display: block; width: 405px;  height: 145px;}
.bodyParts.red .floor-main .hoverCont .wwi-new-col2 .pic2 img { display: block; width: 200px;  height: 397px;}
.bodyParts.red .floor-main .hoverCont .wwi-new-col2 .pic3 img,.bodyParts.red .floor-main .hoverCont .wwi-new-col2 .pic4 img { display: block; width: 200px; height: 198px;}

/*粉色*/
.bodyParts.pink .floor-main .hoverCont .wwi-new-col2 .pic1{ width:405px ; height: 145px;top:0; left: 0;}
.bodyParts.pink .floor-main .hoverCont .wwi-new-col2 .pic2{ width:405px ; height: 145px;top:146px; left:0}
.bodyParts.pink .floor-main .hoverCont .wwi-new-col2 .pic3{ height: 251px; top:292px; left: 0;}
.bodyParts.pink .floor-main .hoverCont .wwi-new-col2 .pic4{ height: 251px;top:292px; left:202px}
.bodyParts.pink .floor-main .hoverCont .wwi-new-col2 .pic1 img,.bodyParts.pink .floor-main .hoverCont .wwi-new-col2 .pic2 img { display: block; width: 405px;  height: 145px;}
.bodyParts.pink .floor-main .hoverCont .wwi-new-col2 .pic3 img,.bodyParts.pink .floor-main .hoverCont .wwi-new-col2 .pic4 img { display: block; width: 200px; height: 251px;}

/*蓝色*/
.bodyParts.blue .tabCont a.now{ color:#2988fd; border-bottom-color:#2988fd;}
.bodyParts.blue .floor-main .wwi-new-slider .pagination span { background: #2988fd;}
.bodyParts.blue .floor-main .hoverCont .wwi-new-col2 .pic1{ width:405px ; height: 145px;top:0; left: 0;}
.bodyParts.blue .floor-main .hoverCont .wwi-new-col2 .pic2{width:405px ;  height: 199px;top:345px; left:0}
.bodyParts.blue .floor-main .hoverCont .wwi-new-col2 .pic3{ height: 198px; top:146px; left: 0;}
.bodyParts.blue .floor-main .hoverCont .wwi-new-col2 .pic4{ height: 198px;top:146px; left:202px}
.bodyParts.blue .floor-main .hoverCont .wwi-new-col2 .pic1 img { display: block; width: 405px;  height: 145px;}
.bodyParts.blue .floor-main .hoverCont .wwi-new-col2 .pic2 img { display: block; width: 405px;  height: 199px;}
.bodyParts.blue .floor-main .hoverCont .wwi-new-col2 .pic3 img,.bodyParts.blue .floor-main .hoverCont .wwi-new-col2 .pic4 img { display: block; width: 200px; height: 198px;}

/*绿色*/
.bodyParts.green .tabCont a.now{ color:#aed55a; border-bottom-color:#aed55a;}
.bodyParts.green .floor-main .wwi-new-slider .pagination span { background: #aed55a;}
.bodyParts.green .floor-main .hoverCont .wwi-new-col2 .pic1{ width:405px ; height: 145px;top:0; left: 0;}
.bodyParts.green .floor-main .hoverCont .wwi-new-col2 .pic2{ width:405px ; height: 145px;top:146px; left:0}
.bodyParts.green .floor-main .hoverCont .wwi-new-col2 .pic3{ height: 251px; top:292px; left: 0;}
.bodyParts.green .floor-main .hoverCont .wwi-new-col2 .pic4{ height: 251px;top:292px; left:202px}
.bodyParts.green .floor-main .hoverCont .wwi-new-col2 .pic1 img,.bodyParts.green .floor-main .hoverCont .wwi-new-col2 .pic2 img { display: block; width: 405px;  height: 145px;}
.bodyParts.green .floor-main .hoverCont .wwi-new-col2 .pic3 img,.bodyParts.green .floor-main .hoverCont .wwi-new-col2 .pic4 img { display: block; width: 200px; height: 251px;}

/*棕色*/
.bodyParts.brown .tabCont a.now{ color:#A36B33; border-bottom-color:#A36B33;}
.bodyParts.brown .floor-main .wwi-new-slider .pagination span { background: #A36B33;}
.bodyParts.brown .floor-main .hoverCont .wwi-new-col2 .pic1{ width:405px ; height: 145px;top:0; left: 0;}
.bodyParts.brown .floor-main .hoverCont .wwi-new-col2 .pic2{width:405px ;  height: 199px;top:345px; left:0}
.bodyParts.brown .floor-main .hoverCont .wwi-new-col2 .pic3{ height: 198px; top:146px; left: 0;}
.bodyParts.brown .floor-main .hoverCont .wwi-new-col2 .pic4{ height: 198px;top:146px; left:202px}
.bodyParts.brown .floor-main .hoverCont .wwi-new-col2 .pic1 img { display: block; width: 405px;  height: 145px;}
.bodyParts.brown .floor-main .hoverCont .wwi-new-col2 .pic2 img { display: block; width: 405px;  height: 199px;}
.bodyParts.brown .floor-main .hoverCont .wwi-new-col2 .pic3 img,.bodyParts.brown .floor-main .hoverCont .wwi-new-col2 .pic4 img { display: block; width: 200px; height: 198px;}

/*橙色*/
.bodyParts.orange .tabCont a.now{ color:#ff9901; border-bottom-color:#ff9901;}
.bodyParts.orange .floor-main .wwi-new-slider .pagination span { background: #ff9901;}
.bodyParts.orange .floor-main .hoverCont .wwi-new-col2 .pic1{ width:405px ; height: 145px;top:0; left: 0;}
.bodyParts.orange .floor-main .hoverCont .wwi-new-col2 .pic2{  height: 397px;top:146px; left:0}
.bodyParts.orange .floor-main .hoverCont .wwi-new-col2 .pic3{ height: 197px; top:146px; left: 202px;}
.bodyParts.orange .floor-main .hoverCont .wwi-new-col2 .pic4{ height: 198px;top:345px; left:202px}
.bodyParts.orange .floor-main .hoverCont .wwi-new-col2 .pic1 img { display: block; width: 405px;  height: 145px;}
.bodyParts.orange .floor-main .hoverCont .wwi-new-col2 .pic2 img { display: block; width: 200px;  height: 397px;}
.bodyParts.orange .floor-main .hoverCont .wwi-new-col2 .pic3 img,.bodyParts.orange .floor-main .hoverCont .wwi-new-col2 .pic4 img { display: block; width: 200px; height: 198px;}

/*紫色*/
.bodyParts.purple .tabCont a.now{ color:#dd29fd; border-bottom-color:#dd29fd;}
.bodyParts.purple .floor-main .wwi-new-slider .pagination span { background: #dd29fd;}

/*浅色*/
.bodyParts.default .tabCont a.now{ color:#53f3c8; border-bottom-color:#53f3c8;}
.bodyParts.default .floor-main .wwi-new-slider .pagination span { background: #53f3c8;}

#nav_box{position:fixed;height:50px;width:100%;min-width:990px;background:#fff;box-shadow:rgba(0,0,0,.2) 0 1px 5px;left:0;top:0;z-index:999}#nav_box ul{margin:0 auto;width:1200px}
#nav_box ul li{float:left;padding-top:8px;padding-left:10px}
#nav_box ul .m-logo{background-image:url(../images/m-logo.png);width:124px;height:64px;margin:0 35px 0 0;float:left}
#nav_box ul li a{display:block;font-size:14px;color:#666;height:35px;line-height:35px;padding:0 18px}
#nav_box ul li.last{border-bottom:1px dotted #666}
#nav_box ul li .num{color:#666;display:block}
#nav_box ul li .word em{background-color:#ff6980;border-radius:15px;padding:0 2px;margin-right:8px;color:#fff}
#nav_box ul li.hover .word em{background-color:#fff;color:#ff6980}
#nav_box ul li.hover .word{color:#CB1C39;background-color:#ff6980;border-radius:17.5px;color:#fff;font-weight:700}